div.header table{
    width: 100%;
    border: 3px solid black;
}

*{
    font-family: 'Roboto', sans-serif;
}

#main_table {
    width: 100%;
    border: 3px solid black;
}
body{
    margin: 3%;
}
th.title{
    width: 66%;
    font-size: 2em;
    color: blue;
}

.text-center{
    text-align: center;
}

th,td{
    border: 1px solid black;
}

#subheader{
    font-size: 1em;
    margin: 2%;
}

div#name {
    float: left;
    width: 50%;
}
div#month {
    
}

.bg_blue{
    background-color: blue;
    color: white;
}