<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col>
        <h1>Les modules</h1>
      </v-col>
    </v-row>

    <!--
      1ère ligne
      max-width default = 170
     -->
    <v-row>
      <v-col class="col-lg-2">
        <v-card
          color="#26c6da"
          dark
          max-width="250"
          @click="$router.push({ name: 'Module_RH'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-qrcode-scan
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Pointage
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Relevé d'heure</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="#26c6da"
          dark
          max-width="250"
          @click="$router.push({ name: 'Liste relevé d\'heures'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-transfer
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Extraction
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Liste Relevé d'heure</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <!--
  2ème ligne
 -->

    <v-row>
      <v-col class="col-lg-2">
        <v-card
          color="rgb(255, 0, 0)"
          dark
          max-width="250"
          @click="$router.push({ name: 'Rapport incident'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-medical-bag
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Incident
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Un problème sur un chantier ?</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="rgb(255, 0, 0)"
          dark
          max-width="250"
          @click="$router.push({ name: 'Liste rapport incident'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-medical-bag
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Liste Incidents
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Rapport d'incident</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!--
  3ème ligne
 -->

    <v-row>
      <v-col class="col-lg-2">
        <v-card
          v-if="user.level >= 1"
          color="#26c6da"
          dark

          max-width="250"
          @click="$router.push({ name: 'Liste des demandes de remplacement'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-dropbox
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Chantiers à prendre
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Liste des postes disponibles</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col class="col-lg-2">
        <v-card
          v-if="user.level >= 2"
          color="green"
          dark

          max-width="250"
          @click="$router.push({ name: 'Formulaire demande de remplacement'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-dropbox
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Remplacements
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Nouvelle demande remplacement</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col
        v-if="user.level >= 2"
        class="col-lg-2"
      >
        <v-card
          color="green"
          dark
          max-width="250"
          @click="$router.push({name : 'Module_clients'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-folder-open
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Clients
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Gérer la liste clients</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="green"
          dark
          max-width="250"
          @click="$router.push({ name: 'QR-CODE Gen'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-qrcode-scan
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            QR-CODE
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Créer un QR-CODE</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="green"
          dark
          max-width="250"
          @click="$router.push({ name: 'Les utilisateurs'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-human-male-female
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Utilisateurs
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Gérer les utilisateurs</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!--
      4ème ligne
     -->
    <v-row>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="green"
          dark
          max-width="250"
          @click="$router.push({name : 'Liste demandes de matériel'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-dropbox
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            DM
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Demande de  matériels</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col class="col-lg-2">
        <v-card
          color="#26c6da"
          dark
          max-width="250"
          @click="$router.push({name : 'Formulaire demande de matériel - PMP'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-dropbox
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Demande de livraison PMP
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Petit matériel et produit</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col class="col-lg-2">
        <v-card
          color="#26c6da"
          dark
          max-width="250"
          @click="$router.push({name : 'Formulaire demande de matériel - Consommables sanitaire'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-dropbox
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Demande de livraison IS
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Ingrédients sanitaire</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!--
      5ème ligne
     -->
    <v-row>
      <v-col
        v-if="user.level == 1 || user.level >= 2"
        class="col-lg-2"
      >
        <v-card
          color="#26c6da"
          dark
          max-width="250"
          @click="$router.push({ name: 'Demande de congé payé'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-archive
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Congé payé
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Demande de congé payé</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="#26c6da"
          dark
          max-width="250"
          @click="$router.push({ name: 'Liste demande de congé payé'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-archive
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Liste Congé payé
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Liste demande de congé payé</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <!--
      5ème ligne
     -->

    <!--
      6ème ligne
     -->
    <v-row>
      <v-col
        v-if="user.level >=2 "
        class="col-lg-2"
      >
        <v-card
          color="green"
          dark
          max-width="250"
          @click="$router.push({ name: 'Archives'})"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-archive
            </v-icon>
            <span class="title font-weight-light" />
          </v-card-title>
          <br>
          <v-card-text
            align="center"
            class="headline font-weight-bold"
          >
            Archives
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-content>
                <v-list-item-title>Les archives</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <!--
      6ème ligne
     -->
  </v-container>
</template>

<script>
  export default {
    components: {

    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        value: 'https://example.com',
        size: 100,
        qr_generated: false,
      }
    },
    created () {
      this.$store.dispatch('remplacements/getAllDr')
      this.$store.dispatch('remplacements/getAllDrArchived')
      this.$store.dispatch('remplacements/getAllDrListeUser')
      this.$store.dispatch('clients/getAll')
      this.$store.dispatch('modules/getAll')
      this.$store.dispatch('users/getAll')
      this.$store.dispatch('incident/getAll')
      this.$store.dispatch('incident/getAllArchived')
      this.$store.dispatch('consommables/getAll')
      this.$store.dispatch('linges/getAll')
      this.$store.dispatch('materiels/getAll')
      this.$store.dispatch('produits/getAll')
      this.$store.dispatch('dMateriel/getAll')
      this.$store.dispatch('dMateriel/getAllArchived')
      this.$store.dispatch('congePaye/getAllDcp')
    },
  }
</script>
