<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <center>
      <v-row>
        <v-col>
          <h1>Centre des archives</h1>
        </v-col>
      </v-row>
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="4"
          md="2"
        >
          <v-btn
            color="red"
            @click="showIncidentArchives"
          >
            Incidents
          </v-btn>
        </v-col>
        <v-col
          cols="4"
          md="2"
        >
          <v-btn
            color="green"
            @click="showDrArchives"
          >
            Demande de remplacements
          </v-btn>
        </v-col>
        <v-col
          cols="4"
          md="2"
        >
          <v-btn
            color="blue"
            @click="showDmArchives"
          >
            Demande de matériels
          </v-btn>
        </v-col>
      </v-row><br><br>
    </center>
    <v-row
      align="center"
      justify="center"
    >
      <v-data-table
        v-if="displayIncidents"
        :headers="headers"
        :items="archivedIncidents"
        sort-by="idChantier"
        class="elevation-1 grey lighten-2"
      >
        <template v-slot:top>
          <v-toolbar
            flat
            color="grey"
          >
            <v-toolbar-title>Remplacements disponible</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            />
            <v-spacer />
          </v-toolbar>
        </template>
        <template
          v-slot:item.voir="{ item }"
        >
          <v-btn
            color="green"
            @click="showIncident(item)"
          >
            Voir
            <v-icon
              right
            >
              mdi-eye
            </v-icon>
          </v-btn>
        </template>
        <template v-slot:no-data />
      </v-data-table>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-data-table
        v-if="displayRemplacements"
        :headers="headers2"
        :items="archivedRemplacements"
        sort-by="idChantier"
        class="elevation-1 grey lighten-2"
      >
        <template v-slot:top>
          <v-toolbar
            flat
            color="grey"
          >
            <v-toolbar-title>Remplacements disponible</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            />
            <v-spacer />
          </v-toolbar>
        </template>
        <template
          v-slot:item.date="{ item }"
        >
          <v-btn
            color="blue"
            @click="displayDates(item.date)"
          >
            Afficher dates
          </v-btn>
        </template>
        <template
          v-if="user.level > 2"
          v-slot:item.nbVolontaire="{ item }"
        >
          {{ item.nbVolontaire }}
        </template>
        <template
          v-else
          v-slot:item.nbVolontaire="{ item }"
        >
          <v-icon
            small
            class="mr-2"
          >
            mdi-eye-off
          </v-icon>
        </template>
        <template
          v-slot:item.showVolontaire="{ item }"
        >
          <v-btn
            color="purple"
            @click="displayUserForRemplacement(item)"
          >
            Voir les volontaires
            <v-icon
              right
            >
              mdi-map-marker
            </v-icon>
          </v-btn>
        </template>
        <template v-slot:no-data />
      </v-data-table>
    </v-row>

    <v-row>
      <v-col class="col-md-8 mx-auto">
        <v-data-table
          v-if="displayDm"
          :headers="headers3"
          :items="archivedDm"
          sort-by="date"
          class="elevation-1 grey lighten-2"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              color="grey"
            >
              <v-toolbar-title>Demande de matériels</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              />
              <v-spacer />
            </v-toolbar>
          </template>
          <template
            v-slot:item.idChantier="{ item }"
          >
            <b> {{ getChantier(item).id }} </b> [{{ getChantier(item).name }}]
          </template>
          <template
            v-slot:item.materiels="{ item }"
          >
            <v-btn
              color="green"
              @click="showItems(item)"
            >
              Voir le matériel
              <v-icon
                right
              >
                mdi-human-greeting
              </v-icon>
            </v-btn>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.nbVolontaire="{ item }"
          >
            {{ item.nbVolontaire }}
          </template>
          <template
            v-else
            v-slot:item.nbVolontaire="{ item }"
          >
            <v-icon
              small
              class="mr-2"
            >
              mdi-eye-off
            </v-icon>
          </template>
          <template
            v-slot:item.urgent="{ item }"
          >
            <span
              v-if="item.urgent"
              style="color:red;"
            >Urgent</span>
            <span v-else> - </span>
          </template>
          <template v-slot:no-data />
        </v-data-table>
      </v-col>
    </v-row>

    <v-row v-if="showSection">
      <v-col class="col-md-10 mx-auto">
        <v-card
          class="grey lighten-2"
          outlined
        >
          <v-container>
            <v-row>
              <v-col><h2> <center> Incident </center></h2></v-col>
            </v-row>
            <v-row>
              <v-col><center> Emis par <b> {{ focusedIncident.prenom }} {{ focusedIncident.nom }}</b> le <b> {{ focusedIncident.date }} </b></center></v-col>
            </v-row>
            <!-- {{ focusedIncident}} -->
            <v-row>
              <v-col> <b> Chantier :</b> {{ focusedIncident.idChantier }} </v-col>
            </v-row>
            <v-row>
              <v-col> <b> Localisation :</b> {{ focusedIncident.localisation }} </v-col>
            </v-row>
            <v-row>
              <v-col> <b> Détails :</b> {{ focusedIncident.details }} </v-col>
            </v-row>
            <v-row>
              <v-col> <b> Photos </b></v-col>
            </v-row>
            <hr>
            <v-row>
              <img
                v-for="image in focusedIncident.image"
                :key="image.id"
                :src="'https://application.promundus.fr:3003/uploads/images/' + image"
                height="150"
                @click="zoomIn(image)"
              >
            </v-row>
            <v-row>
              <v-col>
                <center>
                  <v-btn
                    color="blue"
                    @click="showSection = false"
                  >
                    Fermer
                  </v-btn>
                </center>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <div
      v-if="imageZoomed"
      class="lightbox"
      @click="exitZoomIn()"
    >
      <img
        class="span"
        :src="imageZoomedUrl"
      >
    </div>
    <!-- V DIALOG 1-->
    <v-dialog
      v-model="dialog"
      max-width="450"
    >
      <v-card>
        <v-card-title
          class="headline"
        >
          Confirmer l'<b>archivage</b> de l'incident
        </v-card-title>

        <!--
        <v-card-text>
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        </v-card-text> -->

        <v-card-actions>
          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>
          <v-spacer />
          <v-btn
            color="green darken-1"
            text
            @click="archivage()"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 1 -->
    <!-- V DIALOG 2-->
    <v-dialog
      v-model="dialog2"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Dates de remplacement
        </v-card-title>

        <v-card-text>
          <center>
            <v-date-picker
              v-model="dates"
              readonly
              multiple
              locale="fr"
            />
          </center>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog5 = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 2-->
    <!-- V DIALOG 3-->
    <v-dialog
      v-model="dialog3"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Liste des employées volontaire
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers4"
            :items="drListeUserFiltered"
            :items-per-page="5"
            class="elevation-1"
          />
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog4 = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 3-->
    <!-- V DIALOG 4-->
    <v-dialog
      v-model="dialog4"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Liste du matériel
        </v-card-title>

        <v-card-text>
          <center>
            <ul
              v-for="(nb,item) in items"
              :key="item.id"
              style="list-style-type: none;"
            >
              <li><b>{{ nb }}x </b>{{ item }}</li>
            </ul>
          </center>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 4-->
  </v-container>
</template>

<script>

  export default {
    components: {

    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        archivedIncidents: this.$store.state.incident.archivedIncident,
        archivedRemplacements: this.$store.state.remplacements.archived,
        archivedDm: this.$store.state.dMateriel.archived,
        headers: [
          { text: 'Chantier', value: 'idChantier' },
          { text: 'Date', value: 'date' },
          { text: 'Nom', value: 'nom' },
          { text: 'Prénom', value: 'prenom' },
          { text: 'Voir', value: 'voir' },
        ],
        headers2: [
          { text: 'Chantier', value: 'idChantier' },
          { text: 'Date', value: 'date' },
          { text: 'Début', value: 'hDebut' },
          { text: 'Fin', value: 'hFin' },
          { text: 'Volontaire', value: 'nbVolontaire' },
          { text: 'Voir', value: 'showVolontaire' },
        ],
        headers3: [
          { text: 'Chantier', value: 'idChantier' },
          { text: 'Date', value: 'date' },
          { text: 'Matériels', value: 'materiels' },
          { text: 'Nom', value: 'userNom' },
          { text: 'Prénom', value: 'userPrenom' },
          { text: 'Priorité', value: 'urgent' },
        ],
        headers4: [
          { text: 'Nom', value: 'userNom' },
          { text: 'Prenom', value: 'userPrenom' },
        ],
        showSection: false,
        focusedIncident: null,
        imageZoomed: false,
        imageZoomedUrl: null,
        dialog: false,
        displayIncidents: false,
        displayRemplacements: false,
        displayDm: false,
        dates: null,
        dialog2: false,
        dialog3: false,
        dialog4: false,
        items: [],
        drListeUserFiltered: null,
      }
    },
    computed: {
      images () {
        return this.$store.state.maladie.maladie
      },
      drListeUser () {
        return this.$store.state.remplacements.drListeUser
      },
      clients () {
        return this.$store.state.clients.clients
      },
    },
    created () {
    },
    methods: {
      showIncident (item) {
        this.showSection = true
        this.focusedIncident = item
      },
      zoomIn (image) {
        this.imageZoomedUrl = 'https://application.promundus.fr:3003/uploads/images/' + image
        this.imageZoomed = true
      },
      exitZoomIn () {
        this.imageZoomed = false
      },
      showIncidentArchives () {
        this.displayRemplacements = false
        this.displayIncidents = !this.displayIncidents
        this.showSection = false
        this.displayDm = false
      },
      showDrArchives () {
        this.displayIncidents = false
        this.displayRemplacements = !this.displayRemplacements
        this.displayDm = false
      },
      showDmArchives () {
        this.displayDm = !this.displayDm
        this.displayIncidents = false
        this.displayRemplacements = false
      },
      displayDates (dates) {
        this.dialog2 = true
        this.dates = dates
      },
      displayUserForRemplacement (item) {
        // trier pour afficher les employées s'étant porter volontaire pour la mission en question
        this.drListeUserFiltered = this.drListeUser.filter(element => element.drId == item._id)
        this.dialog3 = true
      },
      getChantier (item) {
        const matchingClient = this.clients.find(x => x.id === item.idChantier)
        return matchingClient
      },
      showItems (item) {
        this.dialog4 = true
        this.items = item.items
      },
    },
  }
</script>

<style lang="css" scoped>
img {
    margin: 5%;
}

.lightbox {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}
.span{
  display: block;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
</style>
