<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row>
      <v-col>
        <h1>Module de gestion de la liste clients</h1>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-col class="">
        <v-row>
          <v-col class="col-2 col-sm-3">
            <v-btn
              class="orange"
              @click="showForm = !showForm "
            >
              Ajouter un client
            </v-btn>
          </v-col>
          <v-col>
            <download-excel
              class="btn btn-default"
              :data="clientsForExtraction"
              :fields="json_fields"
              worksheet="My Worksheet"
              name="clients_extraction.xls"
            >
              <v-btn
                color="blue"
                @click="parseData(clients)"
              >
                <span style="color:black;">Extraction</span>
              </v-btn>
            </download-excel>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="col-md-6 mx-auto">
            <v-data-table
              :headers="headers"
              :items="clients"
              :items-per-page="5"
              class="elevation-1 grey lighten-2"
            >
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-tooltip-edit
                </v-icon>
                <v-icon
                  small
                  class="mr-2"
                  @click="clientToDeleteConfirmation(item)"
                >
                  mdi-delete
                </v-icon>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row v-if="showForm">
      <v-col class="col-md-7 mx-auto">
        <v-card
          class="grey lighten-2"
          outlined
        >
          <v-row>
            <v-col>
              <center><h1>Formulaire d'insertion</h1></center>
            </v-col>
          </v-row>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="client.id"
                    label="Nom usuel"
                    required
                    :rules="idRule"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="client.name"
                    label="Nom client"
                    required
                    :rules="nameRule"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="client.adresse"
                    label="Adresse"
                    required
                    :disabled="adresseConfirmed"
                    :rules="adresseRule"
                    @input="rAutoAdresse"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn
                    class="mr-4 success"
                    :disabled="!valid"
                    @click="submit"
                  >
                    Ajouter
                  </v-btn>
                  <v-btn
                    class="blue"
                    @click="clear"
                  >
                    Reset
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-4 mx-auto">
        <v-card v-if="query != null">
          <v-card-title>Résultats de la recherche :</v-card-title>
          <v-card-text>
            <ul>
              <li
                v-for="result in query"
                :key="result.properties.id"
                class="resultAdress"
                @click="test(result)"
              >
                {{ result.properties.label }}
                <br>
                {{ result.properties.context }}
                <br>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="editForm">
      <v-col class="col-md-7 mx-auto">
        <v-card
          class="grey lighten-2"
          outlined
        >
          <v-row>
            <v-col>
              <center><h1>Formulaire de modification</h1></center>
            </v-col>
          </v-row>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="client.id"
                    label="Nom usuel"
                    required
                    :rules="idRule"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="client.name"
                    label="Nom client"
                    required
                    :rules="nameRule"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="client.adresse"
                    label="Adresse"
                    required
                    :disabled="adresseConfirmed"
                    :rules="adresseRule"
                    @input="rAutoAdresse"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <span color="red">Il est important de re-valider l'adresse du client !</span>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn
                    class="mr-4 success"
                    :disabled="!valid"
                    @click="submitUpdateClient"
                  >
                    Modifier
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Confirmer la suppression
        </v-card-title>

        <v-card-text>
          Etes-vous sûr de vouloir supprimer <b>{{ clientToDelete.id }}</b> ?
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>
          <v-spacer />
          <v-btn
            color="red"
            text
            @click="deleteClient"
          >
            Valider
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import Client from '@/models/client'
  export default {
    components: {
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        showForm: false,
        editForm: false,
        headers: [
          {
            text: 'Nom usuel',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'Nom client', value: 'name' },
          { text: 'Adresse', value: 'adresse' },
          { text: 'Actions', value: 'actions', sortable: false },

        ],
        id: '',
        idRule: [
          v => !!v || 'Nom usuel du chantier manquant',
        ],
        name: '',
        nameRule: [
          v => !!v || 'Le nom du client manquant',
        ],
        adresse: '',
        adresseRule: [
          v => !!v || 'Adresse manquante',
        ],
        valid: true,
        client: new Client('', '', '', ''),
        q: null,
        adresseConfirmed: false,
        notification: null,
        query: null,
        dialog: false,
        clientToDelete: {},
        clientsForExtraction: {},
      }
    },
    computed: {
      clients () {
        return this.$store.state.clients.clients
      },
    },
    created () {
      this.$store.dispatch('clients/getAll')
      // if (!('Notification' in window)) {
      //   alert('This browser does not support desktop notification')
      // } else if (Notification.permission === 'granted') {
      //   // If it's okay let's create a notification
      //   this.notification = new Notification('Hi there!')
      // } else if (Notification.permission !== 'denied') {
      //   Notification.requestPermission().then(function (permission) {
      //     // If the user accepts, let's create a notification
      //     if (permission === 'granted') {
      //       this.notification = new Notification('Hi there!')
      //     }
      //   })
      // }
    },
    methods: {
      parseData (data) {
        data.forEach(function (element) {
          delete element._id
          delete element.lat
          delete element.lng
          delete element.__v
        })
        this.clientsForExtraction = data
        this.$store.dispatch('clients/getAll')
      },
      submitUpdateClient () {
        this.$store.dispatch('clients/updateClient', this.client).then(
          () => {
            this.$store.commit('newSnackBar', 'Client modifié !')
            this.editForm = false
          },
          error => {
            this.$store.commit('newSnackBar', 'Erreur ! Contacté un administrateur !')
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      editItem (el) {
        this.editForm = true
        // console.log(el)
        // console.log(this.client)
        this.client.id = el.id
        this.client._id = el._id
        this.client.adresse = el.adresse
        this.client.name = el.name
      },
      clientToDeleteConfirmation (el) {
        console.log(el)
        this.clientToDelete = el
        this.dialog = true
      },
      deleteClient () {
        this.$store.dispatch('clients/deleteOne', this.clientToDelete._id).then(
          () => {
            this.$store.commit('newSnackBar', 'Client supprimé de la base de donnée !')
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      test (el) {
        this.adresseConfirmed = true
        this.client.adresse = el.properties.label
        this.client.lng = el.geometry.coordinates[0]
        this.client.lat = el.geometry.coordinates[1]
        this.client.adresse = el.properties.label
      },
      clear () {
        this.client.id = ''
        this.client.name = ''
        this.client.adresse = ''
        this.adresseConfirmed = false
        this.query = null
      },
      rAutoAdresse (el) {
        axios
          .get('https://api-adresse.data.gouv.fr/search/?q=' + el + '&type=housenumber&autocomplete=1')
          .then(response => (this.query = response.data.features))
      },
      submit () {
        this.$store.dispatch('clients/addNew', this.client).then(
          () => {
            this.$store.commit('newSnackBar', 'Client ajouté dans la base de donnée !')
          },
          error => {
            alert('here2')
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
    },
  }
</script>

<style>

li:hover{
  color: green;
  font-size:17px;
  transition: all 500ms;
  font-size-adjust: 20px;
  cursor: pointer;
}

</style>
