<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="11">
        <base-material-card
          v-if="getProcessLvl === 1"
          color="green"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Remplissez le formulaire pour faire une demande de remplacement
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-card-text>
            <v-row>
              <v-col class="col-md-4">
                <v-container
                  class="pa-0"
                  fluid
                >
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                  >
                    <v-container>
                      <v-row>
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :return-value.sync="dates"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <!-- <v-text-field
                                v-model="date"
                                label="Date du remplacement"
                                hint=""
                                locales="fr"
                                persistent-hint
                                prepend-icon=""
                                v-bind="attrs"
                                :rules="daterules"
                                v-on="on"
                              /> -->
                              <v-combobox
                                v-model="date"
                                multiple
                                chips
                                locales="fr"
                                small-chips
                                label="Dates du remplacement"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                              />
                            </template>
                            <v-date-picker
                              v-model="date"
                              multiple
                              no-title
                              scrollable
                              locale="fr"
                            >
                              <v-spacer />
                              <v-btn
                                text
                                color="primary"
                                @click="menu2 = false"
                              >
                                Valider
                              </v-btn>
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col>
                          <v-text-field
                            v-model="congePaye.raison"
                            label="Raison"
                          />
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-container>
              </v-col>
            </v-row>
            <v-row>
              <v-spacer />
              <v-col offset-sm="10">
                <v-btn
                  color="success"
                  :disabled="!valid"
                  @click="engineProcess(2)"
                >
                  Suivant
                  <v-icon right>
                    mdi-arrow-right-bold-circle
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </base-material-card>

        <base-material-card
          v-if="getProcessLvl === 2"
          color="green"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Veuillez confirmer les informations entrées précédemment
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-card-text>
            <b>Raison :</b> {{ congePaye.raison }}<br>
            <b>Nombre de jour de congé payé :</b> {{ congePaye.nbjour }}<br>

            Retour au travail le <b>{{ this.retourTravail }}</b>
            <!-- <b>Date :</b> -->
            <v-date-picker
              v-model="date"
              readonly
              multiple
            />
          </v-card-text>
          <v-row>
            <v-col>
              <v-card-actions>
                <v-btn
                  color="orange"
                  @click="backToSetup"
                >
                  Retour
                </v-btn>

                <v-spacer />

                <v-btn
                  color="success"
                  @click="dialog = true"
                >
                  Confirmer
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
    </v-row>

    <!-- V DIALOG 1-->
    <v-dialog
      v-model="dialog"
      max-width="350"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('confirmer_dr') }}
        </v-card-title>
        <!--
        <v-card-text>
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        </v-card-text> -->

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="submit()"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 1 -->
  </v-container>
</template>

<script>
  import CongePaye from '@/models/congePaye'
  export default {
    components: {
    },
    data () {
      return {
        date: [new Date().toISOString().substr(0, 10)], // [new Date().toISOString().substr(0, 10)],
        daterules: [
          v => !!v || 'Date de mission manquante',
        ],
        user: this.$store.state.auth.user.user,
        resultInputManu: '',
        time: '',
        time2: '',
        menu2: false,
        menu3: false,
        menu4: false,
        modal3: false,
        modal2: false,
        time2rules: [
          v => !!v || 'Champ manquant',
          v => v > this.time || 'L\'heure de fin de mission doit être supérier à celle du début.',
        ],
        timerules: [
          v => !!v || 'Champ manquant',
        ],
        picker: '',
        valid: true,
        dialog: false,
        congePaye: new CongePaye(),
        retourTravail: null,
        dates:null
      }
    },
    computed: {
      computedDateFormatted () {
        return this.formatDate(this.date)
      },
      getDate () {
        return this.$store.state.cpProcess.date
      },
      getProcessLvl: function () {
        return this.$store.state.processLvl.cp
      },
    },
    created () {

    },
    methods: {
      backToSetup () {
        this.$store.commit('updateProcessLvl', { process: 'cp', value: 1 })
        this.$store.commit('cancelDr')
      },
      engineProcess (x) {
        switch (x) {
          case 2:
            if (this.date == '' || this.congePaye.raison === '') {
              this.$store.commit('newSnackBar', 'Veuillez compléter le formulaire !')
            } else {
              this.$store.commit('updateProcessLvl', { process: 'cp', value: 2 })
              this.$store.commit('updateCpProcess', { key: 'time', value: this.congePaye.raison })
              this.$store.commit('updateCpProcess', { key: 'date', value: this.date })
              let nbjour = this.congePaye.nbjour
              this.date.forEach(function (el) {
                var formatedDate = new Date(el)
                if (formatedDate.getDay() == 6) {
                  nbjour++                                  
                }
              })
              this.congePaye.nbjour = this.date.length - nbjour

              var option = {
                weekday: 'long', month: 'long', day: 'numeric',
              }
              this.retourTravail = new Date(this.getDate[this.getDate.length - 1])
              // console.log(this.retourTravail.getDay())
              if (this.retourTravail.getDay() == "6") {
                this.retourTravail.setDate(this.retourTravail.getDate() + 2)
              }else {
                this.retourTravail.setDate(this.retourTravail.getDate() + 1)
              }              
              // console.log(this.getDate[this.getDate.length - 1] )
              this.retourTravail = this.retourTravail.toLocaleDateString('fr-FR', option)
              // console.log({ test: this.retourTravail })
            }
            break
          default:
            break
        }
      },
      submit () {
        var currentDate = new Date()
        this.congePaye.date = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear()
        this.congePaye.dates = this.getDate
        this.congePaye.userId = this.$store.state.auth.user.user._id
        this.congePaye.userNom = this.$store.state.auth.user.user.nom
        this.congePaye.userPrenom = this.$store.state.auth.user.user.prenom
        this.congePaye.contact = this.$store.state.auth.user.user.contact

        this.$store.dispatch('congePaye/newConge', this.congePaye).then(
          () => {
            this.$router.push({ name: 'Modules' })
            this.$store.commit('newSnackBar', 'Demande de congé payé envoyé !')
            this.$store.commit('cancelDr')
            this.$store.commit('updateProcessLvl', { process: 'dc', value: 1 })
            // Fin notif push
          },
          error => {
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      test2 () {
        return this.test
      },
      formatDate (date) {
        if (!date) return null
        date.forEach(element => function () {
          var [year, month, day] = element.split('-')
          element = `${day}-${month}-${year}`
        })
        // const [year, month, day] = date.split('-')
        // return `${day}/${month}/${year}`*
        return date
      },
      parseDate (date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
    },
  }
</script>
