<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="11">
        <base-material-card
          color="green"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Remplissez le formulaire pour faire une demande de matériel
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-card-text>
            <v-row>
              <v-col class="col-md-4">
                <v-text-field
                  v-model.lazy="search"
                  append-icon="mdi-magnify"
                  label="Rechercher un chantier manuellement"
                  single-line
                  hide-details
                  @input="returndata"
                />
                <ul
                  v-if="list"
                  id="example-1"
                >
                  <li
                    v-for="item in manualSearchInput"

                    :key="item.id"
                    @click="testsave(item)"
                  >
                    Chantier : {{ item.id }} [{{ item.name }}]
                  </li>
                </ul>
              </v-col>
            </v-row><br>
            <v-row class="text-center">
              <v-col>
                <h2>Consommables sanitaire</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div
                  v-for="consommable in consommables"
                  :key="consommable.id"
                  class="ligne"
                >
                  <img
                    :src="'img\\demandeMateriels\\' + consommable.nom + '.png'"
                    height="150"
                    style="margin-left:2%;"
                  >
                  <div class="leftItem">
                    <b>{{ consommable.nom }}</b>
                  </div>
                  <div class="numIncr">
                    <v-icon @click="decrItem(consommable)">
                      mdi-minus
                    </v-icon>
                    {{ listItem[consommable.nom] }}
                    <v-icon @click="incrItem(consommable)">
                      mdi-plus
                    </v-icon>
                  </div>
                  <v-divider />
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="5"
              >
                <v-text-field
                  v-model="autre.nom"
                  label="Autre"
                />
                <div class="numIncr">
                  <v-icon @click="decrItem(autre)">
                    mdi-minus
                  </v-icon>
                  {{ listItem[autre.nom] }}
                  <v-icon @click="incrItem(autre)">
                    mdi-plus
                  </v-icon>
                </div>
              </v-col>
              <v-col>
                Pour ajouter un autre matériel, supprimer celui noté dans le champs puis noter le nom du matériel en question, puis indiquer la quantité voulu.
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div
                  v-for="(nb, item) in listItem"
                  :key="item.nom"
                >
                  {{ nb }}x {{ item }}
                  <v-btn
                    color="red"
                    small
                    @click="deleteItem(item)"
                  >
                    Supprimer
                  </v-btn>
                </div>
              </v-col>
            </v-row>
            <center>
              <v-btn
                color="green"
                @click="dialog = !dialog"
              >
                Valider
              </v-btn>
            </center>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>

    <div class="text-center">
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Confirmation de la demande
          </v-card-title>

          <v-card-text>
            Souhaitez-vous que la demande sois affiché de manière <b>prioritaire</b>, veuillez cliquer sur le boutton ci-dessous. <br><br>
            <center>
              <v-btn
                color="red"
                @click="urgent = !urgent"
              >
                Urgent
              </v-btn>
            </center><br>
            <div
              v-if="urgent"
              style="color:red;"
            >
              Votre demande sera affiché comme urgente.
            </div>
            Sinon, veuillez simplement valider votre demande !
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-btn
              color="black"
              text
              @click="dialog = false"
            >
              Annuler
            </v-btn>
            <v-spacer />
            <v-btn
              color="primary"
              text
              @click="submit"
            >
              Valider
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
  import Autocomplete from 'vuejs-auto-complete'
  import MaterielD from '@/models/materielD'

  import axios from 'axios'
  export default {
    components: {
      Autocomplete,
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        consommables: this.$store.state.consommables.consommables,
        value: '',
        resultInputManu: '',
        id: '',
        search: '',
        idChantier: '',
        list: true,
        listItem: {},
        test: 0,
        manualSearchInput: null,
        autre: { nom: null },
        nbautre: null,
        dialog: false,
        materielD: new MaterielD(),
        urgent: false,
      }
    },
    computed: {
      clients: function () {
        return this.$store.state.clients.clients
      },
      // listItem : function () {
      //   return this.listItem
      // }
    },
    created () {
      console.log(this.listItem)
    },
    methods: {
      addDistributionGroup (group) {
        this.group = group
        setTimeout(() => { this.$store.commit('demandeMateriel', { key: 'idChantier', value: this.updatedResultInputManu }) }, 2000)
      },
      returndata (input) {
        this.list = true
        if (input.length >= 3) {
          // return 'http://localhost:3003/api/clients/search/' + input
          axios.get(this.$store.state.api_url + '/api/clients/search/' + input).then(response => {
            // console.log(response.clients)
            this.manualSearchInput = response.data.clients
          })
        }
      },
      formattedDisplay (result) {
        return result.id + ' [' + result.name + ']'
      },
      testsave (item) {
        this.search = item.id
        this.list = false
        this.idChantier = item
      },
      incrItem (item) {
        console.log(item)
        if (!this.listItem[item.nom] && item.nom != null) {
          this.$set(this.listItem, item.nom, 1)
        } else if (item.nom != null && this.listItem[item.nom] <= 11) {
          this.$set(this.listItem, item.nom, this.listItem[item.nom] + 1)
        }
        console.log(this.listItem)
      },
      decrItem (item) {
        console.log(item)
        if (!this.listItem[item.nom] && item.nom != null) {
          // this.$set(this.listItem, item.nom, 0)
          delete this.listItem[item.nom]
        } else if (item.nom != null) {
          if (this.listItem[item.nom] == 1) {
            this.$delete(this.listItem, item.nom)
          } else {
            this.$set(this.listItem, item.nom, this.listItem[item.nom] - 1)
          }
        }
        console.log(this.listItem)
      },
      deleteItem (item) {
        console.log('yes')
        this.$delete(this.listItem, item)
      },
      submit () {
        var currentDate = new Date()
        var dateNow = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear()
        console.log(this.idChantier)
        this.materielD.date = dateNow
        this.materielD.items = this.listItem
        this.materielD.urgent = this.urgent
        this.materielD.userId = this.$store.state.auth.user.user._id
        this.materielD.userNom = this.$store.state.auth.user.user.nom
        this.materielD.userPrenom = this.$store.state.auth.user.user.prenom
        this.materielD.idChantier = this.idChantier.id

        this.$store.dispatch('dMateriel/newDemande', this.materielD).then(
          () => {
            this.$router.push({ name: 'Dashboard' })
            this.$store.commit('newSnackBar', 'Demande de matériel envoyé !')
          },
        )
      },
    },
  }
</script>

<style scoped>
.ligne {
  margin: 2%;
  /* background-color: grey; */
}
.numIncr{
  /* position: relative; */
  margin-left: 35%;
}
.leftItem{
  float: left;
}
</style>
