<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <!-- PROCESS LVL 2 -->
    <div
      v-if="pmpProcess === 1"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t('module_Rh') }} <br> Comment sélectionner un chantier ?</h1>
          <br>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-btn
            x-large
            color="warning"
            dark
            @click="engineProcess(2.1)"
          >
            <v-icon left>
              mdi-qrcode-scan
            </v-icon>
            {{ $t("module_Rh_Btn_Scanner") }}
          </v-btn>
          <br>
          En scannant le QR-CODE présent dans le cahier de liaison
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(2.2)"
          >
            <v-icon left>
              mdi-pencil
            </v-icon>
            {{ $t("module_Rh_Btn_Manuellement") }}
          </v-btn><br>
          En saisissant les 4 premières lettres du chantier et le choisir dans la liste déroulante.
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(2.3)"
          >
            <v-icon left>
              mdi-pencil
            </v-icon>
            {{ $t("module_Rh_Btn_TO") }}
          </v-btn><br>
          En saisissant manuellement le nom du chantier
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 2 END -->

    <!-- PROCESS LVL 3 SCAN -->
    <div
      v-if="pmpProcess === 2.1"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('scan_qrcode') }} :<br>
        </v-col>
      </v-row>
      <!-- <v-img
          src="img/scan-qr-code-icon-2.jpg"
          height=""
          @click="displayCamScreen()"
          ></v-img> -->
      <v-row>
        <p class="error">
          {{ error }}
        </p>
        <v-col>
          <div
            class="wrapperCamScreen mx-auto"
          >
            <qrcode-stream
              ref="test"
              class="camScreen"
              @decode="onDecode"
              @init="onInit"
            />
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->

    <!-- PROCESS LVL 3 MANUEL -->
    <div
      v-if="pmpProcess === 2.2"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('module_Rh_formulaire_manuel') }} :<br>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-md-4 col-sm-4">
          <!-- <v-text-field
            v-model="idChantierManu"
            label="ID du chantier"
            required
          /> -->
          <!-- <autocomplete
            ref="autocomplete"
            v-model="resultInputManu"
            input-class="form-control"
            :source="returndata"
            placeholder="Chercher un chantier manuellement"
            results-property="clients"
            :results-display="formattedDisplay"
            @change="updateInputManu"
            @selected="addDistributionGroup"
          /> -->
          <v-text-field
            v-model.lazy="search"
            append-icon="mdi-magnify"
            label="Rechercher un chantier manuellement"
            single-line
            hide-details
            @input="returndata"
          />
          <ul
            v-if="list"
            id="example-1"
          >
            <li
              v-for="item in manualSearchInput"
              :key="item.id"

              @click="testsave(item)"
            >
              Chantier : {{ item.id }} [{{ item.name }}]
            </li>
          </ul>
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->
    <!-- PROCESS LVL 3 MANUEL -->
    <div
      v-if="pmpProcess === 2.3"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('module_Rh_formulaire_manuel') }} :<br>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-md-4 col-sm-4">
          <v-text-field
            v-model="idChantierManu"
            label="Ajouter un chantier occasionel"
          />
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->

    <v-row v-if="pmpProcess > 1 && pmpProcess < 3">
      <v-col>
        <v-btn
          color="red"
          @click="goBack()"
        >
          <v-icon left>
            mdi-arrow-left-bold-circle
          </v-icon>
          Retour
        </v-btn>
      </v-col>
      <v-col v-if="pmpProcess === 2.2">
        <v-btn
          color="success"
          @click="engineProcess(3)"
        >
          Suivant
          <v-icon right>
            mdi-arrow-right-bold-circle
          </v-icon>
        </v-btn>
      </v-col>
      <v-col v-if="pmpProcess === 2.3">
        <v-btn
          color="success"
          @click="engineProcess(3.2, idChantierManu)"
        >
          Suivant
          <v-icon right>
            mdi-arrow-right-bold-circle
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <!--  -->

    <v-row
      v-if="pmpProcess === 3"
      align="center"
      justify="center"
    >
      <v-col cols="11">
        <base-material-card
          color="green"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Remplissez le formulaire pour faire une demande de matériel sur le chantier <b> {{ idChantier.id}} </b>
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-card-text>
            <br>
            <v-row class="text-center">
              <v-col>
                <h2>Produits</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div
                  v-for="produit in produits"
                  :key="produit.id"
                  class="ligne"
                >
                  <img
                    :src="'img\\demandeMateriels\\' + produit.nom + '.png'"
                    height="150"
                    style="margin-left:2%;"
                  >
                  <div class="leftItem">
                    <b>{{ produit.nom }}</b>
                  </div>
                  <div class="numIncr">
                    <v-icon
                      size="60"
                      @click="decrItem(produit)"
                    >
                      mdi-minus
                    </v-icon>
                    {{ listItem[produit.nom] }}
                    <v-icon
                      size="60"
                      @click="incrItem(produit)"
                    >
                      mdi-plus
                    </v-icon>
                  </div>
                  <v-divider />
                </div>
              </v-col>
            </v-row>
            <v-row class="text-center">
              <v-col>
                <h2>Linges</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div
                  v-for="linge in linges"
                  :key="linge.id"
                  class="ligne"
                >
                  <img
                    :src="'img\\demandeMateriels\\' + linge.nom + '.png'"
                    height="150"
                    style="margin-left:2%;"
                  >
                  <div class="leftItem">
                    <b>{{ linge.nom }}</b>
                  </div>
                  <div class="numIncr">
                    <v-icon
                      size="60"
                      @click="decrItem(linge)"
                    >
                      mdi-minus
                    </v-icon>
                    {{ listItem[linge.nom] }}
                    <v-icon
                      size="60"
                      @click="incrItem(linge)"
                    >
                      mdi-plus
                    </v-icon>
                  </div>
                  <v-divider />
                </div>
              </v-col>
            </v-row>
            <v-row class="text-center">
              <v-col>
                <h2>Matériels</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div
                  v-for="materiel in materiels"
                  :key="materiel.id"
                  class="ligne"
                >
                  <img
                    src="img\demandeMateriels\bag.png"
                    alt=""
                    height="150"
                  >

                  <div class="leftItem">
                    <b> {{ materiel.nom }}</b>
                  </div>
                  <div class="numIncr">
                    <v-icon
                      size="60"
                      @click="decrItem(materiel)"
                    >
                      mdi-minus
                    </v-icon>
                    {{ listItem[materiel.nom] }}
                    <v-icon
                      size="60"
                      @click="incrItem(materiel)"
                    >
                      mdi-plus
                    </v-icon>
                  </div>
                  <v-divider />
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                Pour ajouter un autre matériel, noter le nom du matériel dans le champs ci-dessous et indiquer la quantité voulue.
                Recommencer l'opération si nécessaire.
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="5"
              >
                <v-text-field
                  v-model="autre.nom"
                  label="Autre"
                />
                <div class="numIncr">
                  <v-icon
                    size="60"
                    @click="decrItem(autre)"
                  >
                    mdi-minus
                  </v-icon>
                  {{ listItem[autre.nom] }}
                  <v-icon
                    size="60"
                    @click="incrItem(autre)"
                  >
                    mdi-plus
                  </v-icon>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div
                  v-for="(nb, item) in listItem"
                  :key="item.nom"
                >
                  {{ nb }}x {{ item }}
                  <v-btn
                    color="red"
                    small
                    @click="deleteItem(item)"
                  >
                    Supprimer
                  </v-btn>
                </div>
              </v-col>
            </v-row>
            <center>
              <v-btn
                color="green"
                @click="dialog = !dialog"
              >
                Valider
              </v-btn>
              <v-btn
            text
            class="error"
            @click="engineProcess('cancel')"
          >
            {{ $t('annuler') }}
          </v-btn>
            </center>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>

    <div class="text-center">
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <v-card>
          <v-card-title class="headline grey lighten-2">
            Confirmation de la demande
          </v-card-title>

          <v-card-text>
            Souhaitez-vous que la demande sois affiché de manière <b>prioritaire</b>, veuillez cliquer sur le boutton ci-dessous. <br><br>
            <center>
              <v-btn
                color="red"
                @click="urgent = !urgent"
              >
                Urgent
              </v-btn>
            </center><br>
            <div
              v-if="urgent"
              style="color:red;"
            >
              Votre demande sera affiché comme urgente.
            </div>
            Sinon, veuillez simplement valider votre demande !
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-btn
              color="black"
              text
              @click="dialog = false"
            >
              Annuler
            </v-btn>
            <v-spacer />
            <v-btn
              color="primary"
              text
              @click="submit"
            >
              Valider
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
  import Autocomplete from 'vuejs-auto-complete'
  import MaterielD from '@/models/materielD'
  import { QrcodeStream } from 'vue-qrcode-reader'

  import axios from 'axios'
  export default {
    components: {
      Autocomplete,
      QrcodeStream,
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        produits: this.$store.state.produits.produits,
        linges: this.$store.state.linges.linges,
        materiels: this.$store.state.materiels.materiels,
        value: '',
        resultInputManu: '',
        id: '',
        search: '',
        idChantier: '',
        list: true,
        listItem: {},
        test: 0,
        manualSearchInput: null,
        autre: { nom: null },
        nbautre: null,
        dialog: false,
        materielD: new MaterielD(),
        urgent: false,
      }
    },
    computed: {
      clients: function () {
        return this.$store.state.clients.clients
      },
      pmpProcess: function () {
        return this.$store.state.processLvl.pmp
      },
    },
    created () {
    },
    methods: {
      addDistributionGroup (group) {
        this.group = group
        setTimeout(() => { this.$store.commit('demandeMateriel', { key: 'idChantier', value: this.updatedResultInputManu }) }, 2000)
      },
      returndata (input) {
        this.list = true
        if (input.length >= 3) {
          // return 'http://localhost:3003/api/clients/search/' + input
          axios.get(this.$store.state.api_url + '/api/clients/search/' + input).then(response => {
            // console.log(response.clients)
            this.manualSearchInput = response.data.clients
          })
        }
      },
      engineProcess (x, value) {
        switch (x) {
          case 2.1:
            this.$store.commit('updateProcessLvl', { process: 'pmp', value: 2.1 })
            this.processMode = 'auto'
            break
          case 2.2:
            this.$store.commit('updateProcessLvl', { process: 'pmp', value: 2.2 })
            this.processMode = 'manu'
            break
          case 2.3:
            this.$store.commit('updateProcessLvl', { process: 'pmp', value: 2.3 })
            this.processMode = 'to'
            break
          case 3:
            this.$store.commit('updateProcessLvl', { process: 'pmp', value: 3 })
            this.processMode = 'to'
            break
          case 3.2:
            this.$store.commit('updateProcessLvl', { process: 'pmp', value: 3 })
            this.idChantier = { id: value, name: value }
            break;
          case 'cancel':
            this.$store.commit('updateProcessLvl', { process: 'pmp', value: 1 })
            this.search = ''
            this.idChantierManu = ''
            this.manualSearchInput = null
            break
        }
      },
      goBack () {
        this.$store.commit('updateProcessLvl', { process: 'pmp', value: Math.floor(this.pmpProcess) - 1 })
      },
      formattedDisplay (result) {
        return result.id + ' [' + result.name + ']'
      },
      testsave (item) {
        this.search = item.id
        this.list = false
        this.idChantier = item
      },
      onDecode (result) {
        alert(result)
        this.idChantier = { id: result, name: result }
        this.engineProcess(3)
      },
      incrItem (item) {
        console.log(item)
        if (!this.listItem[item.nom] && item.nom != null) {
          this.$set(this.listItem, item.nom, 1)
        } else if (item.nom != null && this.listItem[item.nom] <= 11) {
          this.$set(this.listItem, item.nom, this.listItem[item.nom] + 1)
        }
        console.log(this.listItem)
      },
      decrItem (item) {
        console.log(item)
        if (!this.listItem[item.nom] && item.nom != null) {
          // this.$set(this.listItem, item.nom, 0)
          delete this.listItem[item.nom]
        } else if (item.nom != null) {
          if (this.listItem[item.nom] == 1) {
            this.$delete(this.listItem, item.nom)
          } else {
            this.$set(this.listItem, item.nom, this.listItem[item.nom] - 1)
          }
        }
        console.log(this.listItem)
      },
      deleteItem (item) {
        console.log('yes')
        this.$delete(this.listItem, item)
      },
      submit () {
        var currentDate = new Date()
        var dateNow = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear()
        console.log(this.idChantier)
        this.materielD.date = dateNow
        this.materielD.items = this.listItem
        this.materielD.urgent = this.urgent
        this.materielD.userId = this.$store.state.auth.user.user._id
        this.materielD.userNom = this.$store.state.auth.user.user.nom
        this.materielD.userPrenom = this.$store.state.auth.user.user.prenom
        this.materielD.idChantier = this.idChantier.id + ` [${this.idChantier.name}]`,

        this.$store.dispatch('dMateriel/newDemande', this.materielD).then(
          () => {
            this.$router.push({ name: 'Dashboard' })
            this.$store.commit('newSnackBar', 'Demande de matériel envoyé !')
          },
        )
      },
    },
  }
</script>

<style scoped>
.ligne {
  margin: 2%;
  /* background-color: grey; */
}
.numIncr{
  /* position: relative; */
  margin-left: 35%;
}
.leftItem{
  float: left;
}
</style>
