<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="11">
        <base-material-card
          v-if="getProcessLvl === 1"
          color="green"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Remplissez le formulaire pour faire une demande de remplacement
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-card-text>
            <v-row>
              <v-col class="col-md-4">
                <v-container
                  class="pa-0"
                  fluid
                >
                  <autocomplete
                    ref="autocomplete"
                    v-model="resultInputManu"
                    input-class="form-control"
                    :source="returndata"
                    placeholder="Chercher un chantier manuellement"
                    results-property="clients"
                    :results-display="formattedDisplay"
                    @selected="addDistributionGroup"
                  />
                </v-container>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="col-md-4">
                <v-container
                  class="pa-0"
                  fluid
                >
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                  >
                    <v-container>
                      <v-row>
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :return-value.sync="dates"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <!-- <v-text-field
                                v-model="date"
                                label="Date du remplacement"
                                hint=""
                                locales="fr"
                                persistent-hint
                                prepend-icon=""
                                v-bind="attrs"
                                :rules="daterules"
                                v-on="on"
                              /> -->
                              <v-combobox
                                v-model="date"
                                multiple
                                chips
                                locales="fr"
                                small-chips
                                label="Dates du remplacement"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                              />
                            </template>
                            <v-date-picker
                              v-model="date"
                              multiple
                              no-title
                              scrollable
                              locale="fr"
                            >
                              <v-spacer />
                              <v-btn
                                text
                                color="primary"
                                @click="menu2 = false"
                              >
                                Valider
                              </v-btn>
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="11"
                          sm="5"
                          md="8"
                        >
                          <v-menu
                            ref="menu"
                            v-model="menu3"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="time"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="time"
                                label="Heure début de mission"
                                prepend-icon="mdi-clock"
                                readonly
                                :rules="timerules"
                                v-bind="attrs"
                                v-on="on"
                              />
                            </template>
                            <v-time-picker
                              v-if="menu3"
                              v-model="time"
                              full-width
                              format="24hr"
                              @click:minute="$refs.menu.save(time)"
                            />
                          </v-menu>

                          <v-spacer />

                          <v-menu
                            ref="menu2"
                            v-model="menu4"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="time2"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="time2"
                                label="Heure fin de mission"
                                prepend-icon="mdi-clock"
                                readonly
                                :rules="time2rules"
                                v-bind="attrs"
                                v-on="on"
                              />
                            </template>
                            <v-time-picker
                              v-if="menu4"
                              v-model="time2"
                              full-width
                              format="24hr"
                              @click:minute="$refs.menu2.save(time2)"
                            />
                          </v-menu>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-container>
              </v-col>
            </v-row>
            <v-row>
              <v-spacer />
              <v-col offset-sm="10">
                <v-btn
                  color="success"
                  :disabled="!valid"
                  @click="engineProcess(2)"
                >
                  Suivant
                  <v-icon right>
                    mdi-arrow-right-bold-circle
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </base-material-card>

        <base-material-card
          v-if="getProcessLvl === 2"
          color="green"
        >
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Veuillez confirmer les informations entrées précédemment
            </div>

            <div class="subtitle-1 font-weight-light" />
          </template>

          <v-card-text>
            <b>Chantier : {{ getIdChantier }}</b><br>
            <b>Début de mission :</b> {{ getTime }}<br>
            <b>Fin de mission :</b> {{ getTime2 }}<br>
            <!-- <b>Date :</b> -->
            <v-date-picker
              v-model="date"
              readonly
              multiple
            />
          </v-card-text>
          <v-row>
            <v-col>
              <v-card-actions>
                <v-btn
                  color="orange"
                  @click="backToSetup"
                >
                  Retour
                </v-btn>

                <v-spacer />

                <v-btn
                  color="success"
                  @click="dialog = true"
                >
                  Confirmer
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </base-material-card>
      </v-col>
    </v-row>

    <!-- V DIALOG 1-->
    <v-dialog
      v-model="dialog"
      max-width="350"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('confirmer_dr') }}
        </v-card-title>
        <!--
        <v-card-text>
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        </v-card-text> -->

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="submit()"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 1 -->
  </v-container>
</template>

<script>
  import Autocomplete from 'vuejs-auto-complete'
  import RemplacementD from '@/models/remplacementD'
  import axios from 'axios'

  export default {
    components: {
      Autocomplete,
    },
    data () {
      return {
        date: [new Date().toISOString().substr(0, 10)], // [new Date().toISOString().substr(0, 10)],
        daterules: [
          v => !!v || 'Date de mission manquante',
        ],
        user: this.$store.state.auth.user.user,
        resultInputManu: '',
        time: '',
        time2: '',
        menu2: false,
        menu3: false,
        menu4: false,
        modal3: false,
        modal2: false,
        time2rules: [
          v => !!v || 'Champ manquant',
          v => v > this.time || 'L\'heure de fin de mission doit être supérier à celle du début.',
        ],
        timerules: [
          v => !!v || 'Champ manquant',
        ],
        picker: '',
        valid: true,
        dialog: false,
        remplacementD: new RemplacementD(),
      }
    },
    computed: {
      clients: function () {
        return this.$store.state.clients.clients
      },
      computedDateFormatted () {
        return this.formatDate(this.date)
      },
      getTime () {
        return this.$store.state.drProcess.time
      },
      getTime2 () {
        return this.$store.state.drProcess.time2
      },
      getDate () {
        return this.$store.state.drProcess.date
      },
      getProcessLvl: function () {
        return this.$store.state.processLvl.dr
      },
      updatedResultInputManu: function () {
        return this.resultInputManu
      },
      getIdChantier: function () {
        return this.$store.state.drProcess.idChantier
      },
      getTokens () {
        return this.$store.state.token.tokens
      },
    },
    created () {
    },
    methods: {
      backToSetup () {
        this.$store.commit('updateProcessLvl', { process: 'dr', value: 1 })
        this.$store.commit('cancelDr')
      },
      engineProcess (x) {
        switch (x) {
          case 2:
            if (this.time === '' || this.time2 === '' || this.time === '' || this.date == '' || this.updatedResultInputManu === '') {
              this.$store.commit('newSnackBar', 'Veuillez compléter le formulaire !')
            } else {
              this.$store.commit('updateProcessLvl', { process: 'dr', value: 2 })
              this.$store.commit('updateDrProcess', { key: 'time', value: this.time })
              this.$store.commit('updateDrProcess', { key: 'time2', value: this.time2 })
              this.$store.commit('updateDrProcess', { key: 'date', value: this.date })
              setTimeout(() => { this.$store.commit('updateDrProcess', { key: 'idChantier', value: this.updatedResultInputManu }) }, 0)
              // this.$store.commit('updateDrProcess', { key: 'idChantier', value: this.updatedResultInputManu })
            }
            break
          default:
            break
        }
      },
      submit () {
        this.remplacementD.date = this.$store.state.drProcess.date
        this.remplacementD.hDebut = this.$store.state.drProcess.time
        this.remplacementD.hFin = this.$store.state.drProcess.time2
        this.remplacementD.hDebut = this.$store.state.drProcess.time
        this.remplacementD.userId = this.$store.state.auth.user.user._id
        this.remplacementD.userNom = this.$store.state.auth.user.user.nom
        this.remplacementD.userPrenom = this.$store.state.auth.user.user.prenom
        this.remplacementD.idChantier = this.$store.state.drProcess.idChantier

        this.$store.dispatch('remplacements/newRemplacement', this.remplacementD).then(
          () => {
            this.$router.push({ name: 'Modules' })
            this.$store.commit('newSnackBar', 'Demande de remplacement envoyé !')
            this.$store.commit('cancelDr')
            this.$store.commit('updateProcessLvl', { process: 'dr', value: 1 })
            this.getTokens.forEach(el => {
              // console.log(el.token)
              axios
                .post(
                  'https://fcm.googleapis.com/fcm/send', {
                    notification: {
                      title: 'Demande de remplacement',
                      body: 'Nouvelle demande disponible',
                      icon: './img/icons/android-chrome-192x192.png',
                    },
                    to: el.token,
                  }, {
                    headers: {
                      'Content-Type': 'application/json',
                      Authorization: 'key=AAAA8wK0BRs:APA91bE4dipM-rJ23NhBUqspLZM4ZU8OXOZlPVpSVZ9k_XnWG1rHO_oHRsYBvb_2vl6WYq-0tvd1d9oLCSePBKd8jls6laslYN1DuOYc3IT7O2Tc9W79IeBHncGNf9ms9l6Kx_1_ZoAG',
                    },
                  },
                )
                .then(({ data }) => {
                  // console.log(data)
                })
                .catch(error => {
                  // console.log(error)
                })
            })

            // Fin notif push
          },
          error => {
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      addDistributionGroup (group) {
        this.group = group
        setTimeout(() => { this.$store.commit('demandeMateriel', { key: 'idChantier', value: this.updatedResultInputManu }) }, 2000)
      },
      returndata (input) {
        if (input.length >= 3) {
          return this.$store.state.api_url + '/api/clients/search/' + input
          // return 'https://d65fbaeddeed.ngrok.io/api/clients/search/' + input
        }
      },
      formattedDisplay (result) {
        return result.id + ' [' + result.name + ']'
      },

      formatDate (date) {
        if (!date) return null
        date.forEach(element => function () {
          var [year, month, day] = element.split('-')
          element = `${day}-${month}-${year}`
        })
        // const [year, month, day] = date.split('-')
        // return `${day}/${month}/${year}`*
        return date
      },
      parseDate (date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
    },
  }
</script>
