<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row>
      <v-col>
        <!-- <h1>Module de gestion de la liste clients</h1> -->
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-8 mx-auto">
        <v-data-table
          v-if="renderComponent"
          :headers="headers"
          :items="dm"
          sort-by="date"
          class="elevation-1 grey lighten-2"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              color="grey"
            >
              <v-toolbar-title>Demande de matériels</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              />
              <v-spacer />
            </v-toolbar>
          </template>
          <template
            v-slot:item.idChantier="{ item }"
          >
            <!-- <b> {{ getChantier(item).id }} </b> [{{ getChantier(item).name }}] -->
            {{ item.idChantier }}
          </template>
          <template
            v-slot:item.materiels="{ item }"
          >
            <v-btn
              color="green"
              @click="showItems(item)"
            >
              Voir le matériel
              <v-icon
                right
              >
                mdi-human-greeting
              </v-icon>
            </v-btn>
          </template>
          <template
            v-slot:item.carte="{ item }"
          >
            <v-btn
              color="purple"
              @click="showMarker(item)"
            >
              Afficher sur la carte
              <v-icon
                right
              >
                mdi-map-marker
              </v-icon>
            </v-btn>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.nbVolontaire="{ item }"
          >
            {{ item.nbVolontaire }}
          </template>
          <template
            v-else
            v-slot:item.nbVolontaire="{ item }"
          >
            <v-icon
              small
              class="mr-2"
            >
              mdi-eye-off
            </v-icon>
          </template>
          <template
            v-slot:item.urgent="{ item }"
          >
            <span
              v-if="item.urgent"
              style="color:red;"
            >Urgent</span>
            <span v-else> - </span>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.archiver="{ item }"
          >
            <v-btn
              color="red"
              @click="drDone(item)"
            >
              Archiver
              <v-icon
                right
              >
                mdi-archive
              </v-icon>
            </v-btn>
          </template>
          <template v-slot:no-data />
        </v-data-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-md-2 offset-sm-1">
        <gmap-map
          :center="center"
          :zoom="12"
          style="width:80%;  height: 400px;"
        >
          <gmap-marker
            :position="{lat: marker.lat, lng: marker.lng}"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          />
        </gmap-map>
      </v-col>
    </v-row>

    <!-- V DIALOG Display user volontaire -->
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Liste du matériel
        </v-card-title>

        <v-card-text>
          <center>
            <ul
              v-for="(nb,item) in items"
              :key="item.id"
              style="list-style-type: none;"
            >
              <li><b>{{ nb }}x </b>{{ item }}</li>
            </ul>
          </center>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG Display user volontaire -->
  </v-container>
</template>

<script>
  export default {
    components: {
    },
    data () {
      return {
        // user: this.$store.state.auth.user.user,
        showForm: false,
        dialog: false,
        center: { lat: 49.1196964, lng: 6.1763552 },
        headers: [
          { text: 'Chantier', value: 'idChantier' },
          { text: 'Date', value: 'date' },
          { text: 'Matériels', value: 'materiels' },
          { text: 'Carte', value: 'carte' },
          { text: 'Nom', value: 'userNom' },
          { text: 'Prénom', value: 'userPrenom' },
          { text: 'Priorité', value: 'urgent' },
          { text: 'Archiver', value: 'archiver', sortable: false },
        ],
        renderComponent: true,
        drListeUserFiltered: null,
        items: [],
      }
    },
    computed: {
      dm () {
        return this.$store.state.dMateriel.dMateriel
      },
      clients () {
        return this.$store.state.clients.clients
      },
      marker () {
        return this.$store.state.marker
      },
      getBreakPoint () {
        return this.$vuetify.breakpoint.xs
      },
      user () {
        return this.$store.state.auth.user.user
      },

    },
    created () {
    },
    mounted () {
    },

    methods: {
      showMarker (item) {
        const matchingClient = this.clients.find(x => x.id === item.idChantier)
        this.$store.commit('updateMarker', { lat: matchingClient.lat, lng: matchingClient.lng })
      },
      forceRerender () {
        // Remove my-component from the DOM
        this.renderComponent = false

        this.$nextTick(() => {
          // Add the component back in
          this.renderComponent = true
        })
      },
      showItems (item) {
        this.dialog = true
        this.items = item.items
      },
      drDone (item) {
        console.log(item)
        this.$store.dispatch('dMateriel/deleteOne', item._id).then(
          () => {
            this.$store.commit('newSnackBar', 'Demande de matériel supprimé de la base de donnée !')
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      // getChantier (item) {
      //   const matchingClient = this.clients.find(x => x.id === item.idChantier)
      //   return matchingClient
      // },
    },
  }
</script>
