<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row>
      <v-col>
        <h1>Informations sur les postes disponibles </h1>
        <ul>
          <li>Chantier = nom du chantier</li>
          <li>Date = jours d'interventions</li>
          <li>Volontaire = se proposer pour prendre le chantier</li>
          <li>Carte = afficher le chantier sur la carte</li>
          <li>Debut et Fin = horaires du chantier</li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-10 mx-auto">
        <v-data-table
          v-if="renderComponent"
          :headers="headers"
          :items="remplacements"
          sort-by="idChantier"
          class="elevation-1 grey lighten-2"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              color="grey"
            >
              <v-toolbar-title>Postes disponibles</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              />
              <v-spacer />
            </v-toolbar>
          </template>
          <template
            v-slot:item.date="{ item }"
          >
            <v-btn
              color="blue"
              @click="displayDates(item.date)"
            >
              Afficher dates
            </v-btn>
          </template>
          <template
            v-slot:item.volontaire="{ item }"
          >
            <v-btn
              color="green"
              @click="validation(item)"
            >
              Se porter volontaire
              <v-icon
                right
              >
                mdi-human-greeting
              </v-icon>
            </v-btn>
          </template>
          <template
            v-slot:item.carte="{ item }"
          >
            <v-btn
              color="purple"
              @click="showMarker(item)"
            >
              Afficher sur la carte
              <v-icon
                right
              >
                mdi-map-marker
              </v-icon>
            </v-btn>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.nbVolontaire="{ item }"
          >
            {{ item.nbVolontaire }}
          </template>
          <template
            v-else
            v-slot:item.nbVolontaire="{ item }"
          >
            <v-icon
              small
              class="mr-2"
            >
              mdi-eye-off
            </v-icon>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.showVolontaire="{ item }"
          >
            <v-btn
              color="purple"
              @click="displayUserForRemplacement(item)"
            >
              Voir les volontaires
              <v-icon
                right
              >
                mdi-map-marker
              </v-icon>
            </v-btn>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.archiver="{ item }"
          >
            <v-btn
              color="red"
              @click="archiver(item)"
            >
              Archiver
              <v-icon
                right
              >
                mdi-archive
              </v-icon>
            </v-btn>
          </template>
          <template v-slot:no-data />
        </v-data-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-md-2 offset-sm-1">
        <gmap-map
          :center="center"
          :zoom="12"
          style="width:80%;  height: 400px;"
        >
          <gmap-marker
            :position="{lat: marker.lat, lng: marker.lng}"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          />
        </gmap-map>
      </v-col>
    </v-row>

    <!-- V DIALOG 1-->
    <v-dialog
      v-model="dialog"
      max-width="390"
    >
      <v-card>
        <v-card-title v-if="getBreakPoint">
          {{ $t('confirmer_val_dr_little_screen') }}
        </v-card-title>
        <v-card-title
          v-else
          class="headline"
        >
          {{ $t('confirmer_val_dr_big_screen') }} ?
        </v-card-title>

        <!--
        <v-card-text>
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        </v-card-text> -->

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="sendDr()"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 1 -->
    <!-- V DIALOG 2-->
    <v-dialog
      v-model="dialog2"
      max-width="390"
    >
      <v-card>
        <v-card-title
          color="red"
        >
          <!-- {{ $t('erreur_') }} -->
          Vous avez déjà postuler pour cette demande
        </v-card-title>
        <!--
            <v-card-text>
              Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
            </v-card-text> -->
        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog2 = false"
          >
            Annuler
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 2 -->
    <!-- V DIALOG 3-->
    <v-dialog
      v-model="dialog3"
      max-width="390"
    >
      <v-card>
        <v-card-title
          color="red"
        >
          {{ $t('erreur') }}
        </v-card-title>
        <v-card-title>
          {{ $t('erreur_dr_owner') }}
        </v-card-title>
        <!--
            <v-card-text>
              Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
            </v-card-text> -->
        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog3 = false"
          >
            Annuler
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 3 -->
    <!-- V DIALOG Display user volontaire -->
    <v-dialog
      v-model="dialog4"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Liste des employées volontaire
        </v-card-title>

        <v-card-text>
          <v-data-table
            :headers="headers2"
            :items="drListeUserFiltered"
            :items-per-page="5"
            class="elevation-1"
          />
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog4 = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG Display user volontaire -->
    <!-- V DIALOG Display user volontaire -->
    <v-dialog
      v-model="dialog5"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Dates de remplacement
        </v-card-title>

        <v-card-text>
          <center>
            <v-date-picker
              v-model="dates"
              readonly
              multiple
              locale="fr"
            />
          </center>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog5 = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG Display user volontaire -->
  </v-container>
</template>

<script>
  export default {
    components: {
    },
    data () {
      return {
        // user: this.$store.state.auth.user.user,
        showForm: false,
        dialog: false,
        center: { lat: 49.1196964, lng: 6.1763552 },
        headers: [
          { text: 'Chantier', value: 'idChantier' },
          { text: 'Date', value: 'date' },
          { text: 'Volontaire', value: 'volontaire' },
          { text: 'Carte', value: 'carte' },
          { text: 'Début', value: 'hDebut' },
          { text: 'Fin', value: 'hFin' },
          { text: 'Volontaire', value: 'nbVolontaire' },
          { text: 'Voir', value: 'showVolontaire' },
          { text: 'Archiver', value: 'archiver', sortable: false },
        ],
        headers2: [
          { text: 'Nom', value: 'userNom' },
          { text: 'Prenom', value: 'userPrenom' },
        ],
        renderComponent: true,
        dialog2: false,
        dialog3: false,
        dialog4: false,
        dialog5: false,
        drListeUserFiltered: null,
        dates: [],
      }
    },
    computed: {
      remplacements () {
        return this.$store.state.remplacements.remplacements
      },
      clients () {
        return this.$store.state.clients.clients
      },
      marker () {
        return this.$store.state.marker
      },
      getBreakPoint () {
        return this.$vuetify.breakpoint.xs
      },
      drListeUser () {
        return this.$store.state.remplacements.drListeUser
      },
      user () {
        return this.$store.state.auth.user.user
      },
    },
    created () {
    },
    mounted () {
    },

    methods: {
      // editItem (item) {
      //   this.$store.commit('updateMarker', { lat: parseInt(item.posLat), lng: parseInt(item.posLon) })
      // },
      sendDr () {
        const payload = { idRemplacement: this.$store.state.currentDrVal._id, userId: this.$store.state.auth.user.user._id, userNom: this.$store.state.auth.user.user.nom, userPrenom: this.$store.state.auth.user.user.prenom }
        this.$store.dispatch('remplacements/userTakeRemplacement', payload).then(
          () => {
            this.$store.commit('newSnackBar', 'Vous vous êtes porté volontaire')
            this.$router.push({ name: 'Modules' })
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      validation (item) {
        if (item.userId === this.$store.state.auth.user.user._id) {
          this.dialog3 = true
        }
        this.drListeUser.forEach(element => {
          if (item._id === element.drId && element.userId === this.$store.state.auth.user.user._id) {
            this.dialog2 = true
          }
        })
        if (this.dialog2 === false && this.dialog3 === false) {
          this.dialog = true
          this.$store.commit('storeCurrentDr', item)
        }
      },
      showMarker (item) {
        const matchingClient = this.clients.find(x => x.id === item.idChantier)
        this.$store.commit('updateMarker', { lat: matchingClient.lat, lng: matchingClient.lng })
      },
      loadDate () {
        this.remplacements()
      },
      forceRerender () {
        // Remove my-component from the DOM
        this.renderComponent = false

        this.$nextTick(() => {
          // Add the component back in
          this.renderComponent = true
        })
      },
      displayUserForRemplacement (item) {
        console.log(item)
        // trier pour afficher les employées s'étant porter volontaire pour la mission en question
        this.drListeUserFiltered = this.drListeUser.filter(element => element.drId == item._id)
        this.dialog4 = true
      },
      displayDates (dates) {
        this.dialog5 = true
        this.dates = dates
      },
      archiver (item) {
        console.log(item)
        this.$store.dispatch('remplacements/archive', item._id).then(
          () => {
            this.$store.commit('newSnackBar', 'Demande de remplacement archivé !')
            this.$router.push({ name: 'Archives' })
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
    },
  }
</script>
