<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
  <v-row v-if="showSection">
    <vue-html2pdf
            ref="html2Pdf"
            :show-layout="false"
            :float-layout="true"
            :enable-download="true"
            :preview-modal="true"
            :paginate-elements-by-height="1400"
            :filename="'incident_extraction_'+ focusedIncident.nom"
            :pdf-quality="2"

            :manual-pagination="false"
            pdf-format="a4"
            pdf-orientation="portrait"

            pdf-content-width="800px"
            @hasStartedGeneration="hasStartedGeneration()"
            @hasGenerated="hasGenerated($event)"
          >
            <section slot="pdf-content">
              <v-container>
                <center>
                  <v-row>
                <v-col>
                  <img
                    src="img\logo-promundus.png"
                    alt=""
                    height="150"
                  >
                </v-col>
              </v-row>
                  <v-row>
                    <v-col><h2> <center> Rapport d'incident </center></h2></v-col>
                  </v-row>
                  <v-row>
                    <v-col><center> Emis par <b> {{ focusedIncident.prenom }} {{ focusedIncident.nom }}</b> le <b> {{ focusedIncident.date }} </b></center></v-col>
                  </v-row>
                  <!-- {{ focusedIncident}} -->
                  <v-row>
                    <v-col> <b> Chantier :</b> {{ focusedIncident.idChantier }} </v-col>
                  </v-row>
                  <v-row>
                    <v-col> <b> Localisation :</b> {{ focusedIncident.localisation }} </v-col>
                  </v-row>
                  <v-row>
                    <v-col> <b> Détails :</b> {{ focusedIncident.details }} </v-col>
                  </v-row>
                  <v-row>
                    <v-col> <b> Photos </b></v-col>
                  </v-row>
                  <hr>
                  <v-row>
                    <img
                      v-for="image in focusedIncident.image"
                      :key="image.id"
                      :src="'https://application.promundus.fr:3003/uploads/images/' + image"
                      height="150"
                      @click="zoomIn(image)"
                    >
                  </v-row>
                </center>
              </v-container>
            </section>
          </vue-html2pdf>
  </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-data-table
        :headers="headers"
        :items="incidents"
        sort-by="idChantier"
        class="elevation-1 grey lighten-2"
      >
        <template v-slot:top>
          <v-toolbar
            flat
            color="grey"
          >
            <v-toolbar-title>Liste incidents</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            />
            <v-spacer />
          </v-toolbar>
        </template>
        <template
          v-slot:item.voir="{ item }"
        >
          <v-btn
            color="green"
            @click="showIncident(item)"
          >
            Voir
            <v-icon
              right
            >
              mdi-eye
            </v-icon>
          </v-btn>
        </template>
        <template
          v-slot:item.archiver="{ item }"
        >
          <v-btn
            color="red"
            @click="dialog = true"
          >
            Archiver
            <v-icon
              right
            >
              mdi-archive
            </v-icon>
          </v-btn>
        </template>
        <template v-slot:no-data />
      </v-data-table>
    </v-row>
    <v-row v-if="showSection">
      <v-col class="col-md-10 mx-auto">
        <v-card
          class="grey lighten-2"
          outlined
        >
          <v-container>
            <v-row>
              <v-col><h2> <center> Incident </center></h2></v-col>
            </v-row>
            <v-row>
              <v-col><center> Emis par <b> {{ focusedIncident.prenom }} {{ focusedIncident.nom }}</b> le <b> {{ focusedIncident.date }} </b></center></v-col>
            </v-row>
            <!-- {{ focusedIncident}} -->
            <v-row>
              <v-col> <b> Chantier :</b> {{ focusedIncident.idChantier }} </v-col>
            </v-row>
            <v-row>
              <v-col> <b> Localisation :</b> {{ focusedIncident.localisation }} </v-col>
            </v-row>
            <v-row>
              <v-col> <b> Détails :</b> {{ focusedIncident.details }} </v-col>
            </v-row>
            <v-row>
              <v-col> <b> Photos </b></v-col>
            </v-row>
            <hr>
            <v-row>
              <img
                v-for="image in focusedIncident.image"
                :key="image.id"
                :src="'https://application.promundus.fr:3003/uploads/images/' + image"
                height="150"
                @click="zoomIn(image)"
              >
            </v-row>
            <v-row>
              <v-col>
                <center>
                  <v-btn
                    color="blue"
                    @click="showSection = false"
                  >
                    Fermer
                  </v-btn>
                  <v-btn
                    color="green"
                    @click="generateReport"
                  >
                    Extraire
                  </v-btn>
                </center>
              </v-col>
            </v-row>
            {{ focusedIncident }}
          </v-container>
          
        </v-card>
      </v-col>
    </v-row>
    <div
      v-if="imageZoomed"
      class="lightbox"
      @click="exitZoomIn()"
    >
      <img
        class="span"
        :src="imageZoomedUrl"
      >
    </div>

    <!-- V DIALOG 1-->
    <v-dialog
      v-model="dialog"
      max-width="450"
    >
      <v-card>
        <v-card-title
          class="headline"
        >
          Confirmer l'<b>archivage</b> de l'incident
        </v-card-title>

        <!--
        <v-card-text>
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        </v-card-text> -->

        <v-card-actions>
          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>
          <v-spacer />
          <v-btn
            color="green darken-1"
            text
            @click="archivage()"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 1 -->
  </v-container>
</template>

<script>
  import VueHtml2pdf from 'vue-html2pdf'
  export default {
    components: {
      VueHtml2pdf,
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        incidents: this.$store.state.incident.incident,
        headers: [
          { text: 'Chantier', value: 'idChantier' },
          { text: 'Date', value: 'date' },
          { text: 'Nom', value: 'nom' },
          { text: 'Prénom', value: 'prenom' },
          { text: 'Voir', value: 'voir' },
          { text: 'Archiver', value: 'archiver' },
        ],
        showSection: false,
        focusedIncident: null,
        imageZoomed: false,
        imageZoomedUrl: null,
        dialog: false,
        htmlToPdfOptions :{
               html2canvas: { useCORS: true}
              },
      }
    },
    computed: {
      images () {
        return this.$store.state.maladie.maladie
      },
    },
    created () {
    },
    methods: {
      showIncident (item) {
        this.showSection = true
        this.focusedIncident = item
      },
      zoomIn (image) {
        this.imageZoomedUrl = 'https://application.promundus.fr:3003/uploads/images/' + image
        this.imageZoomed = true
      },
      exitZoomIn () {
        this.imageZoomed = false
      },
      archivage () {
        console.log(this.focusedIncident)
        this.$store.dispatch('incident/archive', this.focusedIncident._id).then(
          () => {
            this.$store.commit('newSnackBar', 'Incident archivé !')
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      generateReport () {
        this.$refs.html2Pdf.generatePdf()
      },
    },
  }
</script>

<style lang="css" scoped>
img {
    margin: 5%;
}

.lightbox {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}
.span{
  display: block;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
</style>
