<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row>
      <v-col>
        <!-- <h1>Module de gestion de la liste clients</h1> -->
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-8 mx-auto">
        <v-data-table          
          :headers="headers"
          :items="dcp"
          sort-by="date"
          class="elevation-1 grey lighten-2"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              color="grey"
            >
              <v-toolbar-title>Demande de matériels</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              />
              <v-spacer />
            </v-toolbar>
          </template>
          <template
            v-slot:item.dates="{ item }"
          >
            <v-btn
              color="blue"
              @click="displayDates(item.dates)"
            >
              Afficher dates
            </v-btn>
          </template>
          <template
            v-slot:item.contact="{ item }"
          >
            <v-btn
              color="green"
              @click="displayContact(item.contact)"
            >
              Contact
            </v-btn>
          </template>
          <template
            v-if="user.level > 2"
            v-slot:item.archiver="{ item }"
          >
            <v-btn
              color="red"
              @click="drDone(item)"
            >
              Archiver
              <v-icon
                right
              >
                mdi-archive
              </v-icon>
            </v-btn>
          </template>
          <template v-slot:no-data />
        </v-data-table>
      </v-col>
    </v-row>
    <!-- V DIALOG Display conge dates -->
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Dates de remplacement
        </v-card-title>

        <v-card-text>
          <center>
            <v-date-picker
              v-model="dates"
              readonly
              multiple
              locale="fr"
            />
          </center>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG Display conge dates -->
    <!-- V DIALOG Display user volontaire -->
    <v-dialog
      v-model="dialog2"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Contact
        </v-card-title>

        <v-card-text>
          <center>
            {{ contact }}
          </center>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialog2 = false"
          >
            Fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG Display user volontaire -->
  </v-container>
</template>

<script>
  export default {
    components: {
    },
    data () {
      return {
        // user: this.$store.state.auth.user.user,
        showForm: false,
        dialog: false,
        dialog2: false,
        contact: null,
        center: { lat: 49.1196964, lng: 6.1763552 },
        headers: [
          { text: 'Date', value: 'date' },
          { text: 'Nom', value: 'userNom' },
          { text: 'Prénom', value: 'userPrenom' },
          { text: 'Raison', value: 'raison' },
          { text: 'Jours', value: 'nbjour' },
          { text: 'Dates', value: 'dates'},
          { text: 'Contact', value: 'contact', sortable: false },
          { text: 'Archiver', value: 'archiver', sortable: false },
        ],        
      }
    },
    computed: {
      dcp () {
        return this.$store.state.congePaye.congepaye
      },
      user () {
        return this.$store.state.auth.user.user
      },

    },
    created () {
    },
    mounted () {
    },

    methods: {
      displayDates (dates) {
        this.dialog = true
        this.dates = dates
      },
      displayContact (contact) {
        this.dialog2 = true
        this.contact = contact
      },
      drDone (item) {
        console.log(item)
        this.$store.dispatch('congePaye/archive', item._id).then(
          () => {
            this.$store.commit('newSnackBar', 'Demande de matériel supprimé de la base de donnée !')
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      // getChantier (item) {
      //   const matchingClient = this.clients.find(x => x.id === item.idChantier)
      //   return matchingClient
      // },
    },
  }
</script>
