<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <v-row
      align="center"
      justify="center"
    >
      <img
        v-for="image in images"
        :key="image.id"
        :src="'http://localhost:3003/uploads/images/' + image.image"
        :alt="image.alt"
        height="150"
        @click="test(image)"
      >
    </v-row>
  </v-container>
</template>

<script>

  export default {
    components: {

    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
      }
    },
    computed: {
      images () {
        return this.$store.state.maladie.maladie
      },
    },
    created () {
    },
    methods: {
      test (image) {
        window.open('http://localhost:3003/uploads/images/' + image.image)
      },
    },
  }
</script>

<style lang="css" scoped>
img {
    margin: 5%;
}
</style>
