<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="6"
            sm="4"
            md="2"
          >
            <v-img
              id="logo"
              src="img/logo-promundus.png"
            />
          </v-col>
        </v-row>
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="rgb(34, 82, 37)"
                dark
                flat
              >
                <v-toolbar-title>{{ $t('login_modal_text') }}</v-toolbar-title>
                <v-spacer />
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      icon
                      large
                      target="_blank"
                      :href="'mailto: salah.57970@gmail.com'"
                      v-on="on"
                    >
                      <v-icon>mdi-account-alert</v-icon>
                    </v-btn>
                  </template>
                  <span>Assistance technique</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form
                  name="form"
                  @submit.prevent="handleLogin"
                >
                  <v-text-field
                    v-model="user.identifiant"
                    label="Identifiant"
                    color="blue"
                    name="identifiant"
                    prepend-icon="mdi-account"
                    type="text"
                  />

                  <v-text-field
                    id="password"
                    v-model="user.password"
                    color="blue"
                    label="Mot de passe"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="value ? 'password' : 'text'"
                    @click:append="() => (value = !value)"
                  />
                </v-form>
                <span style="color:red;">{{ error }}</span>
              </v-card-text>

              <v-card-actions>
                <v-spacer />
                <v-btn
                  id="password"
                  type="submit"
                  color="blue darken-3"
                  @click="handleLogin"
                >
                  Connexion
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import User from '@/models/user'

  export default {
    name: 'Login',
    data () {
      return {
        user: new User('', '', '', ''),
        loading: false,
        message: '',
        bgImage: require('@/assets/colis-preparation-livraison.jpg'),
        error: null,
        value: String,
      }
    },
    computed: {
      loggedIn () {
        return this.$store.state.auth.status.loggedIn
      },
    },
    created () {
      if (this.loggedIn) {
        this.$router.push('/')
      }
    },
    methods: {
      handleLogin () {
        this.loading = true
        // this.$validator.validateAll().then(isValid => {
        //   if (!isValid) {
        //     this.loading = false
        //     return
        // }
        // })
        if (this.user.identifiant && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push({ name: 'Modules' })
            },
            error => {
              this.loading = false
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString()
              this.error = 'Erreur dans vos identifiants'
            },
          )
        }
      },
    },
  }
</script>

<style scoped>

label {
  display: block;
  margin-top: 10px;
}

/* #inspire{
      background:
      radial-gradient(
        ellipse at top left,
        rgb(86, 95, 223) 40%,
        rgba(154, 35, 165, 0.9) 100%
      );
} */

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

</style>
