<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row>
      <v-col>
        <!-- <h1>Module de gestion de la liste clients</h1> -->
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-8 mx-auto">
        <v-data-table
          :headers="headers"
          :items="missions"
          sort-by="idChantier"
          class="elevation-1 grey lighten-2"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              color="grey"
            >
              <v-toolbar-title>Liste des missions</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              />
              <v-spacer />

              <v-dialog
                v-model="dialog"
                width="500"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="red lighten-2"
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    Extraction
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title class="">
                    <span style="font-weight:bold;">Paramètres d'extraction</span>
                  </v-card-title>
                  <v-card-text>
                    <download-excel
                      class="btn btn-default"
                      :data="missionForExtraction"

                      worksheet="My Worksheet"
                      name="extraction.xls"
                    >
                      <div class="text-center">
                        <v-row>
                          <v-col>
                            <v-btn @click="parseData(missions)">
                              <span style="color:black;">Tout</span>
                            </v-btn>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-btn @click="parseDataPreviousMonth(missions)">
                              <span style="color:black;">Mois précédant</span>
                            </v-btn>
                          </v-col>
                          <v-col>
                            <v-btn @click="parseDataCurMonth(missions)">
                              <span style="color:black;">Mois en cours</span>
                            </v-btn>
                          </v-col>
                        </v-row>
                      </div>
                    </download-excel>
                    <v-row>
                      <v-col class="text-center">
                        <v-btn @click="customExtract = !customExtract">
                          <span style="color:black;">Personnaliser</span>
                        </v-btn>
                      </v-col>
                    </v-row>
                    <br><center>
                      <v-span v-if="customExtract">
                        <h3>Formulaire</h3><br>
                        <h4>Par date</h4><br>
                        <v-menu
                          v-model="menu"
                          :close-on-content-click="true"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="computedDateFormatted"
                              label="Date de début"
                              hint=""
                              locales="fr"
                              persistent-hint
                              prepend-icon=""
                              v-bind="attrs"
                              :rules="daterules"
                              v-on="on"
                            />
                          </template>
                          <v-date-picker
                            v-model="date"
                            no-title
                            @input="menu = false"
                          />
                        </v-menu>
                        <v-menu
                          v-model="menu2"
                          :close-on-content-click="true"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="computedDateFormatted2"
                              label="Date de fin"
                              hint=""
                              locales="fr"
                              persistent-hint
                              prepend-icon=""
                              v-bind="attrs"
                              :rules="daterules"
                              v-on="on"
                            />
                          </template>
                          <v-date-picker
                            v-model="date2"
                            no-title
                            @input="menu2 = false"
                          />
                        </v-menu>
                        <download-excel
                          class="btn btn-default"
                          :data="missionForExtraction"
                          worksheet="My Worksheet"
                          name="extraction.xls"
                        >
                          <v-btn @click="parseDataCustomMonth(missions)">
                            <span style="color:black;">Extraire</span>
                          </v-btn>
                        </download-excel><br>
                        <h4>Par chantier</h4><br>

                        <v-text-field
                          v-model="customClient"
                          label="Chantier"
                          hint=""
                          persistent-hint
                          prepend-icon=""
                        />
                        <download-excel
                          class="btn btn-default"
                          :data="missionForExtraction"
                          worksheet="My Worksheet"
                          name="extraction.xls"
                        >
                          <v-btn @click="parseDataCustomClient(missions)">
                            <span style="color:black;">Extraire</span>
                          </v-btn>
                        </download-excel>
                      </v-span>
                    </center>
                  </v-card-text>

                  <v-divider />

                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      color="primary"
                      text
                      @click="dialog = false"
                    >
                      Fermer
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-map-marker
            </v-icon>
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-eye
            </v-icon>
            <v-icon
              small
              @click="generateReport(item)"
            >
              mdi-file-document
            </v-icon>
          </template>
          <template v-slot:no-data>
            <v-btn
              color="primary"
              @click="initialize"
            >
              Reset
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-md-2 offset-sm-1">
        <gmap-map
          :center="center"
          :zoom="12"
          style="width:80%;  height: 400px;"
        >
          <gmap-marker
            :position="{lat: marker.lat, lng: marker.lng}"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          />
        </gmap-map>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-8 mx-auto">
        <v-btn
          color="blue"
          @click="displayExtractionForm = !displayExtractionForm"
        >
          Extraction bilan mensuelle
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="displayExtractionForm">
      <v-col class="col-md-3 offset-lg-3">
        <autocomplete
          ref="autocomplete"
          v-model="userForExtraction"
          input-class="form-control"
          :source="returndata"
          placeholder="Chercher un collaborateur par son nom"
          results-property="users"
          :results-display="formattedDisplay"
          @selected="addDistributionGroup"
        />
      </v-col>
      <v-col class="col-md-3">
        <autocomplete
          ref="autocomplete"
          v-model="userForExtraction"
          input-class="form-control"
          :source="returndataParPrenom"
          placeholder="Chercher un collaborateur par son prénom"
          results-property="users"
          :results-display="formattedDisplay"
          @selected="addDistributionGroup"
        />
      </v-col>
    </v-row>
    <v-row v-if="displayExtractionForm">
      <v-col
        v-for="(userMissionMonth, index) in userMissions"
        :key="userMissionMonth.element"
        class="col-md-8 mx-auto"
      >
        <v-data-table
          :headers="headers2"
          :items="userMissionMonth"
          sort-by="idChantier"
          class="elevation-1 grey lighten-2"
        >
          <template v-slot:top>
            <v-toolbar
              flat
              color="grey"
            >
              <v-toolbar-title>{{ index }}</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              />
              <v-spacer />
              <!-- <v-btn
                color="green"
                :loading="loading"
                :disabled="loading"
                @click="generateReport(userMissionMonth)"
              >
                Extraction
              </v-btn> -->
              <download-excel
                class="btn btn-default"
                :data="missionForExtraction"
                worksheet="My Worksheet"
                name="filename.xls"
              >
                <v-btn @click="parseData(userMissionMonth)">
                  <span style="color:black;">Extraire</span>
                </v-btn>
              </download-excel>
            </v-toolbar>
          </template>
          <template v-slot:no-data>
            <v-btn
              color="primary"
              @click="initialize"
            >
              Reset
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <vue-html2pdf
      ref="html2Pdf"
      :show-layout="displayPdfPreview"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="false"
      :paginate-elements-by-height="1400"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      pdf-orientation="portrait"
      pdf-content-width="800px"
      @hasStartedGeneration="hasStartedGeneration()"
      @hasGenerated="hasGenerated($event)"
    >
      <section
        slot="pdf-content"
        class="pdf-content"
      >
        <div class="header">
          <table class="header_table">
            <tr>
              <th>
                <!-- <img
                  alt="image here"
                > -->
              </th>
              <th class="title">
                RELEVE D'HEURE
              </th>
              <th>RELEVE D'HEURE</th>
            </tr>
          </table>
        </div>
        <div id="subheader">
          <div id="name">
            Nom : John Doe
          </div>
          <div id="month">
            Mois : Juin 2020
          </div>
        </div>

        <div>
          <table
            id="main_table"
            class="text-center"
          >
            <tr class="bg_blue">
              <td rowspan="2">
                JOUR
              </td>
              <td
                v-for="chantier in arrayIdChantier"
                :key="chantier"
                colspan="2"
              >
                {{ chantier }}
              </td>
              <!-- <td colspan="2">
                CHANTIER
              </td>
              <td colspan="2">
                CHANTIER
              </td>
              <td colspan="2">
                CHANTIER
              </td> -->
            </tr>
            <!-- Row B -->
            <tr>
              <td
                v-for="(chantier, index) in arrayIdChantier"
                :key="index"
                colspan="2"
              >
                {{ index + 1 }}
              </td>
              <!-- <td colspan="2">
                2
              </td>
              <td colspan="2">
                3
              </td>
              <td colspan="2">
                4
              </td> -->
            </tr>
            <!-- Row B -->
            <tr>
              <td class="bg_blue" />
              <td colspan="">
                HB
              </td>
              <td colspan="">
                HC
              </td>
              <td colspan="">
                HB
              </td>
              <td colspan="">
                HC
              </td>
              <td colspan="">
                HB
              </td>
              <td colspan="">
                HC
              </td>
              <td colspan="">
                HB
              </td>
              <td colspan="">
                HC
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>2</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>3</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>4</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>5</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>6</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>7</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>8</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>9</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>10</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>11</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>

            <tr>
              <td>12</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>13</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>14</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>15</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>16</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>17</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>18</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>19</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>20</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>21</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>22</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>23</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>24</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>25</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>26</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>27</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>28</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>29</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>30</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
            <tr>
              <td>31</td>
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
              <td />
            </tr>
          </table>
        </div>
      </section>
    </vue-html2pdf>
  </v-container>
</template>

<script>
  import VueHtml2pdf from 'vue-html2pdf'
  import Autocomplete from 'vuejs-auto-complete'

  export default {
    components: {
      VueHtml2pdf,
      Autocomplete,
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        loading: false,
        showForm: false,
        missionForExtraction: [],
        center: { lat: 49.508, lng: 6.587 },
        json_data: [
          {
            name: 'Tony Peña',
            city: 'New York',
            country: 'United States',
            birthdate: '1978-03-15',
            phone: {
              mobile: '1-541-754-3010',
              landline: '(541) 754-3010',
            },
          },
          {
            name: 'Thessaloniki',
            city: 'Athens',
            country: 'Greece',
            birthdate: '1987-11-23',
            phone: {
              mobile: '+1 855 275 5071',
              landline: '(2741) 2621-244',
            },
          },
        ],
        headers: [
          { text: 'Nom', value: 'userNom' },
          { text: 'Prenom', value: 'userPrenom' },
          { text: 'Nom usuel', value: 'idChantier' },
          { text: 'date', value: 'date' },
          { text: 'Heure début', value: 'hDebut' },
          { text: 'Heure fin', value: 'hFin' },
          { text: 'Type créneaux', value: 'type' },
          { text: 'Latitude', value: 'posLat' },
          { text: 'Longitude', value: 'posLon' },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
        headers2: [
          { text: 'Nom', value: 'userNom' },
          { text: 'Prenom', value: 'userPrenom' },
          { text: 'Nom usuel', value: 'idChantier' },
          { text: 'date', value: 'date' },
          { text: 'Heure début', value: 'hDebut' },
          { text: 'Heure fin', value: 'hFin' },
          { text: 'Type créneaux', value: 'type' },
          // { text: 'Latitude', value: 'posLat' },
          // { text: 'Longitude', value: 'posLon' },
        ],
        arrayIdChantier: [],
        displayPdfPreview: false,
        displayExtractionForm: false,
        userForExtraction: null,
        customExtract: false,
        menu: false,
        menu2: false,
        date: new Date().toISOString().substr(0, 10),
        date2: new Date().toISOString().substr(0, 10),
        daterules: [
          v => !!v || 'Date de mission manquante',
        ],
        customClient: null,
        dialog: false,
      }
    },
    computed: {
      missions () {
        return this.$store.state.modules.listeMissions
      },
      marker () {
        return this.$store.state.marker
      },
      userMissions () {
        return this.$store.state.modules.userMissions
      },
      computedDateFormatted () {
        return this.formatDate(this.date)
      },
      computedDateFormatted2 () {
        return this.formatDate(this.date2)
      },
    },
    mounted () {
    },
    created () {
    },
    methods: {
      parseData (data) {
        // console.log(data)
        data.forEach(function (element) {
          delete element._id
          delete element.userId
          delete element.posLat
          delete element.posLon
          delete element.__v
          // rename key
          // element.userNom = element.nom
          // delete element.userNom
          // element.userPrenom = element.Prenom
          // delete element.userPrenom
          // element.idChantier = element.Chantier
          // delete element.idChantier
        })
        this.missionForExtraction = data
        this.$store.dispatch('modules/getAll')
      },
      parseDataCurMonth (data) {
        // data.splice(data.findIndex(e => e.date.split('/')[1] !=  ( new Date().getMonth() +1 )),1);
        var data2 = data.filter(element => parseInt(element.date.split('/')[1]) == (new Date().getMonth() + 1))
        // console.log(data2)
        data2.forEach(function (element, index) {
          delete element._id
          delete element.userId
          delete element.posLat
          delete element.posLon
          delete element.__v
          element.tempsTravailDecimal = element.tempsTravailDecimal.toFixed(2)
        })
        this.missionForExtraction = data2
        this.$store.dispatch('modules/getAll')
      },
      parseDataCustomClient (data) {
        // data.splice(data.findIndex(e => e.date.split('/')[1] !=  ( new Date().getMonth() +1 )),1);
        // console.log(this.customClient)
        // console.log(data)
        var data2 = data.filter(element => element.idChantier == this.customClient)
        // console.log(data2)
        data2.forEach(function (element, index) {
          delete element._id
          delete element.userId
          delete element.posLat
          delete element.posLon
          delete element.__v
          element.tempsTravailDecimal = element.tempsTravailDecimal.toFixed(2)
        })
        if (Array.isArray(data2) && !data2.length) {
          this.$store.commit('newSnackBar', 'Aucun chantier correspondant à la recherche.')
        }
        this.missionForExtraction = data2
        this.$store.dispatch('modules/getAll')
      },
      parseDataPreviousMonth (data) {
        // data.splice(data.findIndex(e => e.date.split('/')[1] !=  ( new Date().getMonth() +1 )),1);
        var Month = new Date().getMonth() == 0 ? 12 : new Date().getMonth()
        var data2 = data.filter(element => parseInt(element.date.split('/')[1]) == Month)
        // console.log(data2)
        data2.forEach(function (element, index) {
          delete element._id
          delete element.userId
          delete element.posLat
          delete element.posLon
          delete element.__v
          element.tempsTravailDecimal = element.tempsTravailDecimal.toFixed(2)
        })
        this.missionForExtraction = data2
        this.$store.dispatch('modules/getAll')
      },
      parseDataCustomMonth (data) {
        console.log(this.computedDateFormatted)
        console.log(this.computedDateFormatted2)
        var dateDebut = new Date(this.computedDateFormatted.split('/')[1] + '/' + this.computedDateFormatted.split('/')[0] + '/' + this.computedDateFormatted.split('/')[2])
        console.log(dateDebut)
        var dateFin = new Date(this.computedDateFormatted2.split('/')[1] + '/' + this.computedDateFormatted2.split('/')[0] + '/' + this.computedDateFormatted2.split('/')[2])
        console.log(dateFin)
        var data2 = data.filter(element => dateDebut.getTime() <= new Date(element.date.split('/')[1] + '/' + element.date.split('/')[0] + '/' + element.date.split('/')[2]).getTime() &&
          dateFin.getTime() >= new Date(element.date.split('/')[1] + '/' + element.date.split('/')[0] + '/' + element.date.split('/')[2]))
        // Ajouter un snackbar si data2 est vide
        if (Array.isArray(data2) && !data2.length) {
          this.$store.commit('newSnackBar', 'Aucune extraction entre ces dates.')
        }
        data2.forEach(function (element, index) {
          delete element._id
          delete element.userId
          delete element.posLat
          delete element.posLon
          delete element.__v
          element.tempsTravailDecimal = element.tempsTravailDecimal.toFixed(2)
        })
        this.missionForExtraction = data2
        this.$store.dispatch('modules/getAll')
        // data.forEach(function(element) {
        //   //Convertir les dates dans le format américain puis convertir en time
        //   var fmdate = new Date (element.date.split('/')[1] + "/" + element.date.split('/')[0] + "/" + element.date.split('/')[2])
        //   console.log(element.date.split('/')[1] + "/" + element.date.split('/')[0] + "/" + element.date.split('/')[2])
        //   console.log(fmdate.getTime())
        //   // console.log(this.computedDateFormatted2)

        // })
        // console.log(this.computedDateFormatted)
      },
      editItem (item) {
        this.$store.commit('updateMarker', { lat: item.posLat, lng: item.posLon })
      },
      getExtraction (item) {
      },
      generateReport (item) {
        this.loading = true
        item.forEach(el => {
          if (this.arrayIdChantier.slice(-1)[0] === undefined || this.arrayIdChantier.slice(-1)[0] !== el.idChantier) {
            this.arrayIdChantier.push(el.idChantier)
          }
        })
        // console.log(this.arrayIdChantier)
        this.$refs.html2Pdf.filename = `${item[0].userPrenom[0]}${item[0].userNom}_${item[0].date.split('/')[1]}/${item[0].date.split('/')[2]}`

        const promise = new Promise((resolve, reject) => {
          this.$refs.html2Pdf.generatePdf()
          setTimeout(() => {
            resolve('Success!')
          }, 2500)
        })
        promise.then((resolve) => {
          this.loading = false
        })
        this.displayPdfPreview = true
      },
      hasGenerated (event) {

      },
      onProgress ($event) {
      },
      addDistributionGroup (group) {
        this.group = group
        var missions = {}
        // const insert = (arr, index, newItem) => [
        //   // part of the array before the specified index
        //   ...arr.slice(0, index),
        //   // inserted item
        //   newItem,
        //   // part of the array after the specified index
        //   ...arr.slice(index),
        // ]
        setTimeout(() => {
          this.missions.forEach(e => {
            if (e.userId === this.userForExtraction) {
              var date = e.date.split('/')
              var month = date[1]
              if (typeof missions[`${month}/${date[2]}`] === 'undefined') {
                missions[`${month}/${date[2]}`] = [e]
              } else {
                // tab.push({ [`${month}/${date[2]}`]: e })
                // insert(tab, `${month}/${date[2]}`, e)
                missions[`${month}/${date[2]}`].splice(0, 0, e)
              }
            }
          })
          this.$store.commit('modules/addMissionsOfUser', missions)
        }, 2000)
      },
      returndata (input) {
        if (input.length >= 1) {
          return this.$store.state.api_url + '/api/users/search/' + input
          // return 'https://d65fbaeddeed.ngrok.io/api/clients/search/' + input
        }
      },
      returndataParPrenom (input) {
        if (input.length >= 1) {
          return this.$store.state.api_url + '/api/users/searchParPrenom/' + input
          // return 'https://d65fbaeddeed.ngrok.io/api/clients/search/' + input
        }
      },
      formattedDisplay (result) {
        return `${result.nom} ${result.prenom}`
      },
      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
    },
  }
</script>

<style scoped>
div.header table{
    width: 100%;
    border: 3px solid black;
}

*{
    font-family: 'Roboto', sans-serif;
}

#main_table {
    width: 100%;
    border: 3px solid black;
}
body{
    margin: 3%;
}
th.title{
    width: 66%;
    font-size: 2em;
    color: blue;
}

.text-center{
    text-align: center;
}

th,td{
    border: 1px solid black;
}

#subheader{
    font-size: 1em;
    margin: 2%;
}

div#name {
    float: left;
    width: 50%;
}
div#month {

}

.bg_blue{
    background-color: blue;
    color: white;
}

/* .pdf-content{
  background-color: #fff;
  width: 100%;
} */
</style>
