<template>
  <v-container
    id="user-profile"
    fluid
  >
    <v-row justify="center">
      <v-col>
        <h1>Module de génération de QR-CODE Chantier</h1>
        Sélectioner parmis les chantiers présent dans la base de données
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-md-4">
        <autocomplete
          ref="autocomplete"
          v-model="resultInputManu"
          input-class="form-control"
          :source="returndata"
          placeholder="Chercher un chantier manuellement"
          results-property="clients"
          :results-display="formattedDisplay"
          @selected="addDistributionGroup"
        />
      </v-col>
    </v-row>
    <v-col>
      <v-card
        v-if="displayQR"
        class="grey lighten-2 col-md-4 mx-auto"
      >
        <v-col>
          <qrcode-vue
            :value="value"
            :size="size"
            level="H"
          />
        </v-col>
        <v-col>
          Voici le QR-CODE généré pour le chantier <b>{{ resultInputManu }}</b>
        </v-col>
      </v-card>
    </v-col>
  </v-container>
</template>

<script>
  import QrcodeVue from 'qrcode.vue'
  import Autocomplete from 'vuejs-auto-complete'

  export default {
    components: {
      QrcodeVue,
      Autocomplete,
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        value: '',
        size: 150,
        qr_generated: false,
        resultInputManu: '',
        displayQR: false,
      }
    },
    computed: {
      clients: function () {
        return this.$store.state.clients.clients
      },
    },
    mounted () {
    },
    created () {
    },
    methods: {
      addDistributionGroup (group) {
        this.group = group
        setTimeout(() => {
          this.displayQR = true
          this.value = this.resultInputManu
        }, 2000)
      },
      returndata (input) {
        if (input.length >= 0) {
          return this.$store.state.api_url + '/api/clients/search/' + input
          // return 'https://d65fbaeddeed.ngrok.io/api/clients/search/' + input
        }
      },
      formattedDisplay (result) {
        return result.id + ' [' + result.name + ']'
      },
    },
  }
</script>
