<template>
  <v-container
    id=""
    fluid
    tag="section"
  >
    <!-- PROCESS LVL 2 -->
    <div
      v-if="incidentProcess === 1"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t('module_Rh') }} <br> Comment sélectionner un chantier ?</h1>
          <br>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-btn
            x-large
            color="warning"
            dark
            @click="engineProcess(2.1)"
          >
            <v-icon left>
              mdi-qrcode-scan
            </v-icon>
            {{ $t("module_Rh_Btn_Scanner") }}
          </v-btn>
          <br>
          En scannant le QR-CODE présent dans le cahier de liaison
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(2.2)"
          >
            <v-icon left>
              mdi-pencil
            </v-icon>
            {{ $t("module_Rh_Btn_Manuellement") }}
          </v-btn><br>
          En saisissant les 4 premières lettres du chantier et le choisir dans la liste déroulante.
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(2.3)"
          >
            <v-icon left>
              mdi-pencil
            </v-icon>
            {{ $t("module_Rh_Btn_TO") }}
          </v-btn><br>
          En saisissant manuellement le nom du chantier
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 2 END -->

    <!-- PROCESS LVL 3 SCAN -->
    <div
      v-if="incidentProcess === 2.1"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('scan_qrcode') }} :<br>
        </v-col>
      </v-row>
      <!-- <v-img
          src="img/scan-qr-code-icon-2.jpg"
          height=""
          @click="displayCamScreen()"
          ></v-img> -->
      <v-row>
        <p class="error">
          {{ error }}
        </p>
        <v-col>
          <div
            class="wrapperCamScreen mx-auto"
          >
            <qrcode-stream
              ref="test"
              class="camScreen"
              @decode="onDecode"
              @init="onInit"
            />
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->

    <!-- PROCESS LVL 3 MANUEL -->
    <div
      v-if="incidentProcess === 2.2"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('module_Rh_formulaire_manuel') }} :<br>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-md-4 col-sm-4">
          <!-- <v-text-field
            v-model="idChantierManu"
            label="ID du chantier"
            required
          /> -->
          <!-- <autocomplete
            ref="autocomplete"
            v-model="resultInputManu"
            input-class="form-control"
            :source="returndata"
            placeholder="Chercher un chantier manuellement"
            results-property="clients"
            :results-display="formattedDisplay"
            @change="updateInputManu"
            @selected="addDistributionGroup"
          /> -->
          <v-text-field
            v-model.lazy="search"
            append-icon="mdi-magnify"
            label="Rechercher un chantier manuellement"
            single-line
            hide-details
            @input="returndata"
          />
          <ul
            v-if="list"
            id="example-1"
          >
            <li
              v-for="item in manualSearchInput"
              :key="item.id"

              @click="testsave(item)"
            >
              Chantier : {{ item.id }} [{{ item.name }}]
            </li>
          </ul>
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->
    <!-- PROCESS LVL 3 MANUEL -->
    <div
      v-if="incidentProcess === 2.3"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('module_Rh_formulaire_manuel') }} :<br>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-md-4 col-sm-4">
          <v-text-field
            v-model="idChantierManu"
            label="Ajouter un chantier occasionel"
          />
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->

    <v-row v-if="incidentProcess > 1 && incidentProcess < 4">
      <v-col v-if="user.entreprise == null">
        <v-btn
          color="red"
          @click="goBack()"
        >
          <v-icon left>
            mdi-arrow-left-bold-circle
          </v-icon>
          Retour
        </v-btn>
      </v-col>
      <v-col v-if="incidentProcess === 2.2">
        <v-btn
          color="success"
          @click="engineProcess(3)"
        >
          Suivant
          <v-icon right>
            mdi-arrow-right-bold-circle
          </v-icon>
        </v-btn>
      </v-col>
      <v-col v-if="incidentProcess === 2.3">
        <v-btn
          color="success"
          @click="engineProcess(3.2, idChantierManu)"
        >
          Suivant
          <v-icon right>
            mdi-arrow-right-bold-circle
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <center><h2>N'ajoutez pas plus de 2 photos !</h2></center><br>
    <center v-if="incidentProcess === 3">Vous avez sélctionné le chantier <b>{{user.entreprise}}</b></center>
    <v-row
      v-if="incidentProcess === 3"
      align="center"
      justify="center"
    >      

      <v-col
        cols="12"
        md="6"
      >
        <!-- <vue-web-cam
          ref="webcam"
          :device-id="deviceId"
          width="100%"
          @started="onStarted"
          @stopped="onStopped"
          @error="onError"
          @cameras="onCameras"
          @camera-change="onCameraChange"
        />  -->
        <v-form
          enctype="multipart/form-data"
          @submit.prevent="sendDemande"
        >
          <!-- <v-text-field
            v-model.lazy="search"
            append-icon="mdi-magnify"
            label="Rechercher un chantier manuellement"
            single-line
            hide-details
            @input="returndata"
          />
          <ul id="example-1">
            <li
              v-for="item in manualSearchInput"
              v-if="list"
              :key="item.id"
              @click="testsave(item)"
            >
              Chantier : {{ item.id }} [{{ item.name }}]
            </li>
          </ul><br> -->
          <!-- <input
            ref="file"
            type="file"
            accept="image/*"
            capture="camera"
            multiple
            @change="selectFile"
          > -->
          <center>
            <vue-upload-multiple-image
              :data-images="images"
              drag-text="Prendre les photos de l'incident"
              browse-text=""
              primary-text="Photo"
              mark-is-primary-text="Photo"
              id-upload="myIdUpload"
              edit-upload="myIdEdit"
              @upload-success="uploadImageSuccess"
              @before-remove="beforeRemove"
              @edit-image="editImage"
            />
          </center>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-text-field
                v-model="localisation"
                label="Localiser l'incident en précisant étage, type pièce, numéro de bureau...  "
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
              <v-textarea
                v-model="details"
                label="Expliquer avec précisions l'incident"
              />
            </v-col>
          </v-row>
          <center>
            <br>
            <v-btn
              type="submit"
              color="green"
            >
              Envoyer
            </v-btn>
          </center>
        </v-form>
      </v-col>
    </v-row>

    <!-- {{ Object.fromEntries(formData.entries()) }} -->
  </v-container>
</template>

<script>
//   import { WebCam } from 'vue-web-cam'
  import axios from 'axios'
  import VueUploadMultipleImage from 'vue-upload-multiple-image'
  import { QrcodeStream } from 'vue-qrcode-reader'
  export default {
    components: {
      //   'vue-web-cam': WebCam,
      VueUploadMultipleImage,
      QrcodeStream,
    },
    data () {
      return {
        user: this.$store.state.auth.user.user,
        pic: [],
        file: [],
        details: null,
        localisation: null,
        images: [],
        test: [],
        localisation: null,
        details: null,
        resultInputManu: '',
        manualSearchInput: null,
        list: true,
        search: null,
        idChantier: null,
      }
    },
    computed: {
      incidentProcess: function () {
        return this.$store.state.processLvl.incident
      },
    },
    created () {
      console.log(this.user.prop2)
      if (this.user.entreprise){
        this.idChantier = { id: this.user.entreprise, name: this.user.entreprise }
        this.$store.commit('updateProcessLvl', { process: 'incident', value: 3 })
      }
      console.log(this.incidentProcess)
    },
    methods: {
      onCameras (cameras) {
        this.devices = cameras
      },
      test () {
        this.pic.push(this.refs.photo)
      },
      selectFile () {
        // this.file = this.$refs.file.files[0]
        this.file.push(this.$refs.file.files[0])
        // console.log(this.file)
      },
      engineProcess (x, value) {
        switch (x) {
          case 2.1:
            this.$store.commit('updateProcessLvl', { process: 'incident', value: 2.1 })
            this.processMode = 'auto'
            break
          case 2.2:
            this.$store.commit('updateProcessLvl', { process: 'incident', value: 2.2 })
            this.processMode = 'manu'
            break
          case 2.3:
            this.$store.commit('updateProcessLvl', { process: 'incident', value: 2.3 })
            this.processMode = 'to'
            break
          case 3:
            this.$store.commit('updateProcessLvl', { process: 'incident', value: 3 })
            this.processMode = 'to'
            break
          case 3.2:
            this.$store.commit('updateProcessLvl', { process: 'incident', value: 3 })
            this.idChantier = { id: value, name: value }
        }
      },
      async sendDemande () {
        // const formData = new FormData()
        // var x = 1
        // this.file.forEach(function(file){
        //   formData.append('file'+x, file)
        //   x++
        // })
        // // formData.append('file', this.file)
        // console.log(Object.fromEntries(formData.entries()))

        try {
          var currentDate = new Date()
          var dateNow = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear()
          await axios.post('https://application.promundus.fr:3003/api/incident/new/', {
            images: this.test,
            details: this.details,
            localisation: this.localisation,
            idChantier: this.idChantier.id + ` [${this.idChantier.name}]`,
            nom: this.user.nom,
            prenom: this.user.prenom,
            date: dateNow,
          }) // {images : formData, details: this.details, localisation: this.localisation}
          this.$router.push('/pages/all_modules')
          this.$store.commit('newSnackBar', 'Nouvel incident posté !')
          this.$store.commit('updateProcessLvl', { process: 'incident', value: 1 })
        } catch (err) {
          // console.log(err)
        }
        console.log(this.test)
      },
      async uploadImageSuccess (formData, index, fileList) {
        // console.log('data', formData, index, fileList)
        console.log(fileList[index])
        this.test.push(fileList[index].name)
        try {
          await axios.post('https://application.promundus.fr:3003/api/incident/upload/', formData) // {images : formData, details: this.details, localisation: this.localisation}
          // this.$router.push('/');
        } catch (err) {
          // console.log(err)
        }
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      },
      beforeRemove (index, done, fileList) {
        // console.log('index', index, fileList)
        // var r = confirm("Supprimer la photo ?")
        console.log(fileList[index].name)
        this.test = this.test.filter(function (item) {
          return item !== fileList[index].name
        })
        console.log(this.test)
        try {
          axios.post('http://localhost:3003/api/incident/' + fileList[index].name + '/deleteImg/') // {images : formData, details: this.details, localisation: this.localisation}
          // this.$router.push('/');
          done()
        } catch (err) {
          console.log(err)
        }

      // if (r == true) {
      //   console.log('here')

      //   console.log(fileList[index])

      // } else {
      // }
      },
      editImage (formData, index, fileList) {
        console.log('edit data', formData, index, fileList)
      },
      returndata (input) {
        this.list = true
        if (input.length >= 3) {
          // return 'http://localhost:3003/api/clients/search/' + input
          axios.get(this.$store.state.api_url + '/api/clients/search/' + input).then(response => {
            // console.log(response.clients)
            this.manualSearchInput = response.data.clients
          })
        }
      },
      testsave (item) {
        console.log(item)
        this.search = item.id + ` [${item.name}]`
        this.list = false
        this.idChantier = item
      },
      onDecode (result) {
        var jsonResult = JSON.parse(`{"idChantier" : "${result}"}`)
        console.log(jsonResult)
        this.idChantier = { id: jsonResult.idChantier, name: jsonResult.idChantier }
        this.engineProcess(3)
      },
      goBack () {
        this.$store.commit('updateProcessLvl', { process: 'incident', value: Math.floor(this.incidentProcess) - 1 })
      },
    },

  }
</script>

<style scoped>
.camScreen {
/* border: 10px solid green; */
border-radius: 50px;
z-index: 0;
/* position: relative; */
}
.wrapperCamScreen {
  /* position: absolute; */
  height : 20em;
  width : 20em;
  border: 10px solid rgb(29 80 37);
}
</style>
