<template>
  <v-container
    id="newCommand"
    fluid
    tag="section"
  >
    <h1 /><br>
    <!-- PROCESS LVL 1 -->
    <div
      v-if="pProcess === 1"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t("module_Rh") }}</h1>
          {{ $t("choixTypeMission") }}<br>
        </v-col>
      </v-row>
      <br>
      <v-row>
        <v-col
          class="text-center"
        >
          <v-btn
            x-large
            color="warning"
            dark
            @click="engineProcess(2,'HB')"
          >
            {{ $t("module_Rh_Btn_HB") }}
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-center">
          Heures de base prévues au contrat <br>(A sélectionner si chantier habituel)
        </v-col>
      </v-row>
      <v-row class="mx-auto">
        <v-col class="text-center">
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(2,'HC')"
          >
            Heure complémentaire
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-center">
          {{ $t("module_Rh_Btn_HC") }} <br> (A sélectionner pour tous les autres chantiers de remplacement, TO...)
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-center" />
      </v-row>
    </div>
    <!-- PROCESS LVL 1 END -->

    <!-- PROCESS LVL 2 -->
    <div
      v-if="pProcess === 2"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t('module_Rh') }} <br> Comment sélectionner un chantier ?</h1>
          <br>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-btn
            x-large
            color="warning"
            dark
            @click="engineProcess(3.1)"
          >
            <v-icon left>
              mdi-qrcode-scan
            </v-icon>
            {{ $t("module_Rh_Btn_Scanner") }}
          </v-btn>
          <br>
          En scannant le QR-CODE présent dans le cahier de liaison
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(3.2)"
          >
            <v-icon left>
              mdi-pencil
            </v-icon>
            {{ $t("module_Rh_Btn_Manuellement") }}
          </v-btn><br>
          En saisissant les 4 premières lettres du chantier et le choisir dans la liste déroulante.
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            x-large
            color="secondary"
            dark
            @click="engineProcess(3.3)"
          >
            <v-icon left>
              mdi-pencil
            </v-icon>
            {{ $t("module_Rh_Btn_TO") }}
          </v-btn><br>
          En saisissant manuellement le nom du chantier
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 2 END -->

    <!-- PROCESS LVL 3 SCAN -->
    <div
      v-if="pProcess === 3.1"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('scan_qrcode') }} :<br>
        </v-col>
      </v-row>
      <!-- <v-img
          src="img/scan-qr-code-icon-2.jpg"
          height=""
          @click="displayCamScreen()"
          ></v-img> -->
      <v-row>
        <p class="error">
          {{ error }}
        </p>
        <v-col>
          <div
            class="wrapperCamScreen mx-auto"
          >
            <qrcode-stream
              ref="test"
              class="camScreen"
              @decode="onDecode"
              @init="onInit"
            />
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->

    <!-- PROCESS LVL 3 MANUEL -->
    <div
      v-if="pProcess === 3.2"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('module_Rh_formulaire_manuel') }} :<br>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-md-4 col-sm-4">
          <!-- <v-text-field
            v-model="idChantierManu"
            label="ID du chantier"
            required
          /> -->
          <!-- <autocomplete
            ref="autocomplete"
            v-model="resultInputManu"
            input-class="form-control"
            :source="returndata"
            placeholder="Chercher un chantier manuellement"
            results-property="clients"
            :results-display="formattedDisplay"
            @change="updateInputManu"
            @selected="addDistributionGroup"
          /> -->
          <v-text-field
            v-model.lazy="search"
            append-icon="mdi-magnify"
            label="Rechercher un chantier manuellement"
            single-line
            hide-details
            @input="returndata"
          />
          <ul
            v-if="list"
            id="example-1"
          >
            <li
              v-for="item in manualSearchInput"
              :key="item.id"

              @click="testsave(item)"
            >
              Chantier : {{ item.id }} [{{ item.name }}]
            </li>
          </ul>
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->
    <!-- PROCESS LVL 3 MANUEL -->
    <div
      v-if="pProcess === 3.3"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1> {{ $t('module_Rh') }}</h1>
          {{ $t('module_Rh_formulaire_manuel') }} :<br>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="col-md-4 col-sm-4">
          <v-text-field
            v-model="idChantierManu"
            label="Ajouter un chantier occasionel"
          />
        </v-col>
      </v-row>
    </div>
    <!-- PROCESS LVL 3 END -->
    <!-- PROCESS LVL 4  -->
    <div
      v-if="pProcess === 4"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t('module_Rh') }}</h1>
          {{ $t('qrcode_scanned') }}!<br>
        </v-col>
      </v-row>
      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">
              {{ $t('recapitluatif') }}
            </div>
            <v-list-item-title class="headline mb-1">
              {{ mission.idChantier }}
            </v-list-item-title>
            <v-list-item-subtitle
              v-if="mission.type === 'HB'"
            >
              {{ $t('hb') }}
            </v-list-item-subtitle>
            <v-list-item-subtitle
              v-else
            >
              {{ $t('hc') }}
            </v-list-item-subtitle>
            <v-card-text>
              {{ $t('debut_mission') }} : {{ mission.hDebut }}<br>
              {{ $t('date') }} : {{ mission.date }}
            </v-card-text>
          </v-list-item-content>
        </v-list-item>
        <v-card-actions>
          <v-btn
            text
            class="error"
            @click="engineProcess('cancel')"
          >
            {{ $t('annuler') }}
          </v-btn>
          <v-btn
            text
            class="success"
            @click="engineProcess(5)"
          >
            {{ $t('valider') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </div><br>
    <!-- PROCESS LVL 4 END -->

    <!-- PROCESS LVL 5  -->
    <div
      v-if="pProcess === 5"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t('module_Rh') }}</h1>
          A la fin de votre mission cliquer sur le bouton "Fin de mission".
        </v-col>
      </v-row>
      <v-row>
        <v-col
          offset-lg="3"
          offset-sm="3"
        >
          <v-btn
            class="error"
            @click.stop="dialog = true"
          >
            {{ $t('fin_mission') }}
          </v-btn>
        </v-col>
      </v-row>
    </div><br>
    <!-- PROCESS LVL 5 END  -->

    <!-- PROCESS LVL 6  -->
    <div
      v-if="pProcess === 6"
      class="my-2"
    >
      <v-row>
        <v-col>
          <h1>{{ $t('module_Rh') }}</h1>
          {{ $t('mission_finis') }}!<br>
        </v-col>
      </v-row>
    </div><br>
    <!-- PROCESS LVL 6 END  -->

    <v-row v-if="pProcess > 1 && pProcess < 5">
      <v-col>
        <v-btn
          color="red"
          @click="goBack()"
        >
          <v-icon left>
            mdi-arrow-left-bold-circle
          </v-icon>
          Retour
        </v-btn>
      </v-col>
      <v-col v-if="pProcess === 3.2">
        <v-btn
          color="success"
          @click="engineProcess(4)"
        >
          Suivant
          <v-icon right>
            mdi-arrow-right-bold-circle
          </v-icon>
        </v-btn>
      </v-col>
      <v-col v-if="pProcess === 3.3">
        <v-btn
          color="success"
          @click="engineProcess(4)"
        >
          Suivant
          <v-icon right>
            mdi-arrow-right-bold-circle
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <!--  -->

    <!-- V DIALOG 1-->
    <v-dialog
      v-model="dialog"
      max-width="350"
    >
      <v-card>
        <v-card-title class="headline">
          {{ $t('confirmer_fin_mission') }} ?
        </v-card-title>
        <!--
        <v-card-text>
          Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        </v-card-text> -->

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            text
            @click="endMission()"
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 1 -->
    <!-- V DIALOG 2-->
    <v-dialog
      v-model="dialog2"
      max-width="350"
    >
      <v-card>
        <v-card-title class="headline red">
          {{ $t('erreur') }}
        </v-card-title>

        <v-card-text>
          {{ $t(errorI18nCode) }}
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn
            color="black darken-1"
            text
            @click="dialog = false"
          >
            Annuler
          </v-btn>

          <v-btn
            color="green darken-1"
            text
          >
            Confirmer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- V DIALOG 2 -->
  </v-container>
</template>

<script>
  import axios from 'axios'
  import { QrcodeStream } from 'vue-qrcode-reader'
  // import Autocomplete from 'vuejs-auto-complete'

  export default {
    components: {
      QrcodeStream,
      // Autocomplete,
    },
    data () {
      return {
        // user: this.$store.state.auth.user.user,
        pictures: [],
        nb: 0,
        result: '',
        error: '',
        qrCodeCam: false,
        location: null,
        gettingLocation: false,
        errorStr: null,
        processMode: null,
        dialog: false,
        dialog2: false,
        errorI18nCode: '',
        idChantierManu: '',
        resultInputManu: '',
        manualSearchInput: null,
        search: '',
        toIdChantier: null,
        headers: [
          {
            text: 'Nom',
            align: 'start',
            value: 'id',
          },
          { text: 'Client', value: 'name' },
        ],
        list: true,
      }
    },
    computed: {
      mission: function () {
        return this.$store.state.mission
      },
      pProcess: function () {
        return this.$store.state.pProcess
      },
      clients: function () {
        return this.$store.state.clients.clients
      },
      updatedResultInputManu: function () {
        return this.resultInputManu
      },
      dataSearch: function () {
        return this.manualSearchInput.clients
      },
    },
    created () {
      if (this.$store.state.currentMission.currentMission !== undefined) {
        this.$store.commit('setMission', this.$store.state.currentMission.currentMission)
      }
      if (this.$store.state.currentMission.currentMission === undefined) {
        this.pProcess = this.$store.state.pProcess
      } else {
        this.$store.commit('updatePProcess', parseInt(this.$store.state.currentMission.currentMission.pProcess))
      }
    },
    methods: {
      async onInit (promise) {
        try {
          await promise
        } catch (error) {
          if (error.name === 'NotAllowedError') {
            this.error = 'ERROR: you need to grant camera access permisson'
          } else if (error.name === 'NotFoundError') {
            this.error = 'ERROR: no camera on this device'
          } else if (error.name === 'NotSupportedError') {
            this.error = 'ERROR: secure context required (HTTPS, localhost)'
          } else if (error.name === 'NotReadableError') {
            this.error = 'ERROR: is the camera already in use?'
          } else if (error.name === 'OverconstrainedError') {
            this.error = 'ERROR: installed cameras are not suitable'
          } else if (error.name === 'StreamApiNotSupportedError') {
            this.error = 'ERROR: Stream API is not supported in this browser'
          }
        }
      },
      updateInputManu () {
        // console.log('yes')
      },
      addDistributionGroup (group) {
        this.group = group
        alert('je suis here')
        setTimeout(() => { this.$store.commit('updateMission', { key: 'idChantier', value: this.updatedResultInputManu }) }, 2000)
        // ! commit la var contenant l'id du chantier + ajouter
      },
      testsave (el) {
        // console.log('here')
        this.search = el.id
        this.list = false
        setTimeout(() => {
          // console.log(el)
          this.$store.commit('updateMission', { key: 'idChantier', value: el.id })
        }, 2000)
      },
      returndata (input) {
        if (input.length >= 3) {
          this.list = true
          // return this.$store.state.api_url + '/api/clients/search/' + input
          // return 'https://d65fbaeddeed.ngrok.io/api/clients/search/' + input
          axios.get(this.$store.state.api_url + '/api/clients/search/' + input).then(response => {
            // console.log(response.clients)
            this.manualSearchInput = response.data.clients
          })
        }
      },
      formattedDisplay (result) {
        return result.id + ' [' + result.name + ']'
      },
      previewFiles (event) {
        var reader = new FileReader()
        reader.onload = (e) => {
          this.pictures.push([e.target.result])
        }
        reader.readAsDataURL(this.$refs.newPicture.files[0])
        this.nb++
      },
      deletePicture (id) {
        if (id !== 0) {
          this.pictures.splice(id, id)
        } else {
          this.pictures.splice(id, 1)
        }
      },
      engineProcess (x, value) {
        switch (x) {
          case 2:
            this.$store.commit('updatePProcess', x)
            var key = 'type'
            this.$store.commit('updateMission', { key, value })
            break
          case 3.1:
            this.$store.commit('updatePProcess', x)
            this.processMode = 'auto'
            break
          case 3.2:
            this.$store.commit('updatePProcess', x)
            this.processMode = 'manu'
            break
          case 3.3:
            this.$store.commit('updatePProcess', x)
            this.processMode = 'to'
            break
          case 4:
            if (this.updatedResultInputManu === '' && this.processMode === 'auto') {
              this.$store.commit('updatePProcess', x)
              break
            } else if (this.search === '' && this.processMode === 'manu' || this.idChantierManu === undefined && this.processMode === 'to') {
              alert('Aucun chantier selectionné !')
            } else if (this.processMode === 'to') { // Condition pour store et passer sur le recap concernant les TO
              this.$store.commit('updatePProcess', x)
              this.$store.commit('updateMission', { key: 'idChantier', value: this.idChantierManu })
              this.commmitMissionData()
            } else {
              this.$store.commit('updatePProcess', x)
              if (this.processMode === 'manu') {
                this.commmitMissionData()
              }
            }
            break
          case 5:
            this.$store.commit('updatePProcess', x)
            this.$store.commit('updateMission', { key: 'pProcess', value: x })
            this.$store.state.mission.userId = this.$store.state.auth.user.user._id
            this.$store.dispatch('currentMission/newMission', this.mission)
            break
          case 'cancel':
            this.$store.commit('cancelMission')
            this.$store.commit('updatePProcess', 1)
            this.search = ''
            this.idChantierManu = ''
            this.manualSearchInput = null
            break
        }
      },
      goBack () {
        switch (this.pProcess) {
          case 4:
            this.$store.commit('updatePProcess', this.processMode === 'auto' ? 3.1 : 3.2)
            break
          default:
            this.$store.commit('updatePProcess', Math.floor(this.$store.state.pProcess) - 1)
            break
        }
      },
      displayCamScreen () {
        this.qrCodeCam = true
        this.$refs.rootElement.requestFullscreen()
      },
      timeStringToFloat (time) {
        var hoursMinutes = time.split(/[.:]/)
        var hours = parseInt(hoursMinutes[0], 10)
        var minutes = hoursMinutes[1] ? parseInt(hoursMinutes[1], 10) : 0
        return hours + minutes / 60
      },
      endMission () {
        this.dialog = false
        if (this.mission.hDebut != null) {
          var currentDate = new Date()
          var dateNow = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear()
          var timeNow = currentDate.getHours() + ':' + currentDate.getMinutes()
          // this.$store.state.mission.userId = this.$store.state.auth.user.user._id
          this.$store.commit('updateMission', { key: 'userNom', value: this.$store.state.auth.user.user.nom })
          this.$store.commit('updateMission', { key: 'userPrenom', value: this.$store.state.auth.user.user.prenom })
          if (dateNow === this.mission.date) {
            this.$store.commit('updateMission', { key: 'hFin', value: timeNow })
            var tempsTravailDecimal = this.timeStringToFloat(timeNow) - this.timeStringToFloat(this.mission.hDebut)
            this.$store.commit('updateMission', { key: 'tempsTravailDecimal', value: tempsTravailDecimal })
            this.$store.dispatch('modules/newMission', this.mission).then(
              () => {
                this.$store.commit('updatePProcess', 6)
                this.$store.commit('cancelMission')
                this.$store.commit('updatePProcess', 1)
                const payload = { userId: this.$store.state.auth.user.user._id }
                this.$store.dispatch('currentMission/deleteOne', payload)
                this.$router.push({ name: 'Modules' })
                this.updatedResultInputManu = ''
                this.$store.commit('newSnackBar', 'Mission terminé et enregistré !')
              },
              error => {
                alert('error_here')
                this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString()
              },
            )
          } else {
            this.dialog2 = true
            this.errorI18nCode = 'error_module_Rh_dateD_diff_dateF'
          }
        }
      },
      commmitMissionData (jsonResult) {
        if (this.$store.state.mission.hDebut === null) {
          var currentDate = new Date()
          var dateNow = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear()
          var timeNow = currentDate.getHours() + ':' + currentDate.getMinutes()
          if (!('geolocation' in navigator)) {
            this.errorStr = 'Geolocation is not available.'
            alert(this.errorStr)
            return
          }

          this.gettingLocation = true
          // get position
          navigator.geolocation.getCurrentPosition(pos => {
            this.gettingLocation = false
            this.$store.commit('updateMission', { key: 'posLat', value: pos.coords.latitude })
            this.$store.commit('updateMission', { key: 'posLon', value: pos.coords.longitude })
            this.location = pos
          }, err => {
            this.gettingLocation = false
            this.errorStr = err.message
            alert(this.errorStr)
          })
          if (jsonResult) {

          }
          var idChantier = jsonResult ? jsonResult.idChantier : this.idChantierManu
          if (idChantier !== '') {
            this.$store.commit('updateMission', { key: 'idChantier', value: idChantier })
          }
          this.$store.commit('updateMission', { key: 'hDebut', value: timeNow })
          this.$store.commit('updateMission', { key: 'date', value: dateNow })
        }
      },
      onDecode (result) {
        var jsonResult = JSON.parse(`{"idChantier" : "${result}"}`)
        this.engineProcess(4)
        this.commmitMissionData(jsonResult)
        this.result = result + '| Scan effecuté le' + Date()
      },
    },
  }
</script>

<style not scoped>
.camScreen {
/* border: 10px solid green; */
border-radius: 50px;
z-index: 0;
/* position: relative; */
}
.wrapperCamScreen {
  /* position: absolute; */
  height : 20em;
  width : 20em;
  border: 10px solid rgb(29 80 37);
}
.test{
  height: 300px;
}

li:hover{
  color: green;
  font-size:17px;
  transition: all 500ms;
  font-size-adjust: 18px;
  cursor: pointer;
}

</style>
