<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="4"
      >
        <base-material-card
          class="v-card-profile"
          avatar="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
        >
          <v-card-text class="text-center">
            <h6 class="display-1 mb-1 grey--text">
              [Poste]
            </h6>

            <h4 class="display-2 font-weight-light mb-3 black--text">
              {{ user.prenom }} {{ user.nom }}
            </h4>

            <p class="font-weight-light grey--text">
              Langue : {{ getLangue }}
            </p>

            <v-btn
              color="success"
              rounded
              class="mr-0"
              @click="showEditProfile = !showEditProfile"
            >
              Modifier les paramètres
            </v-btn>
          </v-card-text>
        </base-material-card>
      </v-col>
      <v-col
        v-if="showEditProfile"
        cols="12"
        md="8"
      >
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Modifier les paramètres
            </div>
            <!--
            <div class="subtitle-1 font-weight-light">

            </div> -->
          </template>
          <v-container class="py-0">
            <v-form
              v-if="user.level === 99"
              v-model="valid"
            >
              <v-row>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    v-model="password"
                    solo
                    dark
                    type="password"
                    label="Mot de passe"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    v-model="password2"
                    solo
                    dark
                    :rules="password2rules"
                    type="password"
                    label="Retaper mot de passe"
                  />
                </v-col>
                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn
                    color="success"
                    class="mr-0"
                    :disabled="!valid"
                    @click="updatePassword"
                  >
                    Mettre à jour
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
            <v-form>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-select
                    v-model="lang"
                    label="Changer la langue"
                    :items="items"
                    solo
                    dark
                  />
                </v-col>
                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn
                    color="success"
                    class="mr-0"
                    :disabled="true"
                  >
                    Mettre à jour
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        user: this.$store.state.auth.user.user,
        showEditProfile: false,
        valid: false,
        password: '',
        lang: '',
        password2: '',
        password2rules: [
          v => !!this.password || 'Taper votre mot de passe dans le premier champ',
          v => v === this.password || 'Les mots de passe ne correspondent pas ! ',
        ],
        items: ['Français'],
      }
    },
    computed: {
      getLangue () {
        let drapeau
        switch (process.env.VUE_APP_I18N_LOCALE) {
          case 'fr':
            drapeau = '🇫🇷'
            break
        }
        return drapeau
      },
    },
    created () {
    },
    methods: {
      updatePassword () {
        const payload = { password: this.password2, userId: this.$store.state.auth.user.user._id }
        this.$store.dispatch('auth/updateUserPassword', payload).then(
          () => {
            this.$store.commit('newSnackBar', 'Mot de passe mis à jour !')
            this.clearPwdInput()
          },
        )
      },
      clearPwdInput () {
        this.password = ''
        this.password2 = ''
      },
    },
  }
</script>
