<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row>
      <v-col>
        <h1>Module de gestion de la liste clients</h1>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-col class="">
        <v-row>
          <v-col class="">
            <v-btn
              class="orange"
              @click="showForm = !showForm"
            >
              Ajouter un utilisateur
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="col-md-6 mx-auto">
            <v-data-table
              :headers="headers"
              :items="users"
              :items-per-page="5"
              class="elevation-1 grey lighten-2"
            >
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-tooltip-edit
                </v-icon>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row v-if="showForm">
      <v-col class="col-md-7 mx-auto">
        <v-card
          class="grey lighten-2"
          outlined
        >
          <v-row>
            <v-col>
              <center><h1>Formulaire d'insertion</h1></center>
            </v-col>
          </v-row>
          <v-form
            ref="form"
            v-model="valid"
          >
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.nom"
                    label="Nom"
                    required
                    :rules="nomRules"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.prenom"
                    label="Prenom"
                    required
                    :rules="prenomRules"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.identifiant"
                    label="Identifiant"
                    required
                    :rules="identifiantRules"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.password"
                    label="Mot de passe"
                    required
                    :rules="passwordRules"
                    :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="value ? 'password' : 'text'"
                    @click:append="() => (value = !value)"
                  />
                </v-col>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="password2"
                    label="Confirmation du mot de passe"
                    required
                    :rules="password2Rules"
                    :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="value ? 'password' : 'text'"
                    @click:append="() => (value = !value)"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.contact"
                    label="Numéro de téléphone"
                    required
                    type="text"
                    :rules="contactRules"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-select
                    v-model="newUser.lvl"
                    :items="items"
                    :rules="lvlRules"
                    label="Niveau d'accès"
                    required
                  />
                </v-col>
              </v-row>
              {{ newUser.lvl}}
              <v-row v-if="newUser.lvl == 'Client'">
                <v-col
                  cols="12"
                  md="4"
                >
                  <!-- <v-text-field
                    v-model="newUser.entreprise"
                    label="Entreprise"
                    required
                    :rules="entrepriseRules"
                  /> -->
                  <v-text-field
                    v-model.lazy="search"
                    append-icon="mdi-magnify"
                    label="Rechercher un chantier manuellement"
                    single-line
                    hide-details
                    @input="returndata"
                  />
                  <ul
                    v-if="list"
                    id="example-1"
                  >
                    <li
                      v-for="item in manualSearchInput"
                      :key="item.id"

                      @click="testsave(item)"
                    >
                      Chantier : {{ item.id }} [{{ item.name }}]
                    </li>
                  </ul>
                 <br><h3> Liste des chantiers du client :</h3><br>
                 <p v-for="client in userClients" :key="client.id">
                   {{ client.value }}
                 </p>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn
                    class="mr-4 success"
                    :disabled="!valid"
                    @click="submit"
                  >
                    Ajouter
                  </v-btn>
                  <v-btn
                    class="blue"
                    @click="clear"
                  >
                    Reset
                  </v-btn>
                </v-col>
              </v-row>
              {{ select }}
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-if="showFormEdit">
      <v-col class="col-md-7 mx-auto">
        <v-card
          class="grey lighten-2"
          outlined
        >
          <v-row>
            <v-col>
              <center><h1>Formulaire de modification</h1></center>
            </v-col>
          </v-row>
          <v-form
            ref="form"
            v-model="valid"
          >
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.nom"
                    label="Nom"
                    required
                    :rules="nomRules"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.prenom"
                    label="Prenom"
                    required
                    :rules="prenomRules"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.identifiant"
                    label="Identifiant"
                    required
                    :rules="identifiantRules"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.password"
                    label="Mot de passe"
                    required
                    type="password"
                    :rules="passwordRules"
                  />
                </v-col>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="password2"
                    label="Confirmation du mot de passe"
                    required
                    type="password"
                    :rules="password2Rules"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-text-field
                    v-model="newUser.contact"
                    label="Numéro de téléphone"
                    required
                    type="text"
                    :rules="contactRules"
                  />
                </v-col>
              </v-row>   
              <v-row>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-select
                    v-model="newUser.lvl"
                    :items="items"
                    :rules="lvlRules"
                    label="Niveau d'accès"
                    required
                  />
                </v-col>
              </v-row>              
              <v-row>
                <v-col>
                  <v-btn
                    class="mr-4 success"
                    :disabled="!valid"
                    @click="submitUpdateUser"
                  >
                    Modifier
                  </v-btn>
                  <v-btn
                    class="blue"
                    @click="clear"
                  >
                    Reset
                  </v-btn>
                </v-col>
              </v-row>
              {{ select }}
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import User from '@/models/user'
  import axios from 'axios'
  export default {
    components: {},
    data () {
      return {
        showForm: false,
        newUser: new User('', '', '', '', '',false, ''),
        items: ['Standard', 'Avancé', 'Administrateur', 'Client'],
        select: '',
        headers: [
          {
            text: 'Identifiant',
            align: 'start',
            sortable: false,
            value: 'identifiant',
          },
          { text: 'Nom', value: 'nom' },
          { text: 'Prenom', value: 'prenom' },
          { text: 'Action', value: 'actions', sortable: false },
        ],
        identifiant: '',
        contactRules : [(v) => !!v || "Identifiant de l'utilisateur manquant"],
        identifiantRules: [(v) => !!v || "Identifiant de l'utilisateur manquant"],
        entrepriseRules: [(v) => !!v || "Entreprise de l'utilisateur manquant"],
        prenomRules: [(v) => !!v || "Prenom de l'utilisateur manquant"],
        lvlRules: [(v) => !!v || "Niveau d'accès nécessaire !"],
        nomRules: [(v) => !!v || "Nom de l'utilisateur manquant"],
        password: '',
        password2: '',
        passwordRules: [(v) => !!v || 'Mot de passe requis'],
        password2Rules: [
          (v) => !!v || 'Confirmation du mot de passe requis',
          (v) =>
            v === this.newUser.password ||
            'Les mots de passe ne correspondent pas ! ',
        ],
        valid: true,
        q: null,
        adresseConfirmed: false,
        notification: null,
        showFormEdit: false,
        value: String,
        manualSearchInput: null,
        search: '',
      }
    },
    computed: {
      users () {
        return this.$store.state.users.users
      },
      user () {
        return this.$store.state.auth.user.user
      },
      userClients () {
        return this.$store.state.userClient.clients
      }
    },
    created () {
      this.$store.dispatch('clients/getAll')
    },
    methods: {
      testsave (el) {
        // console.log('here')
        this.search = el.id
        this.list = false
        setTimeout(() => {
          // console.log(el)
          this.$store.commit('updateUserClient', { value: el.id })
          this.newUser.entreprise = this.userClients
        }, 2000)
      },
      returndata (input) {
        if (input.length >= 3) {
          this.list = true
          // return this.$store.state.api_url + '/api/clients/search/' + input
          // return 'https://d65fbaeddeed.ngrok.io/api/clients/search/' + input
          axios.get(this.$store.state.api_url + '/api/clients/search/' + input).then(response => {
            // console.log(response.clients)
            this.manualSearchInput = response.data.clients
          })
        }
      },
      editItem (el) {
        if (
          this.user.level === '99' ||
          (this.user.level === '2' && el.level <= '2')
        ) {
          this.showFormEdit = true
          this.newUser.identifiant = el.identifiant
          this.newUser.nom = el.nom
          this.newUser.prenom = el.prenom
          // this.newUser.password = el.password
          this.newUser.id = el.id
          this.newUser.contact = el.contact
        } else {
          alert('Vous ne pouvez pas modifier un compte administrateur')
        }
        this.newUser.lvl = ''
      },
      clear () {
        this.newUser.identifiant = ''
        this.newUser.nom = ''
        this.newUser.prenom = ''
        this.newUser.password = ''
        this.password2 = ''
        this.newUser.lvl = ''
        this.newUser.enterprise = ''
      },
      submit () {
        alert(this.newUser.lvl)
        switch (this.newUser.lvl) {
          case 'Standard':
            this.newUser.lvl = '1'
            break
          case 'Client':
            this.newUser.lvl = '1.5'
            this.newUser.client = true
            break
          case 'Avancé':
            this.newUser.lvl = '2'
            break
          case 'Administrateur':
            this.newUser.lvl = '99'
            break
        }

        this.$store.dispatch('users/newUser', this.newUser).then(
          () => {
            this.$store.commit(
              'newSnackBar',
              'Nouvel utilisateur ajouté dans la base de donnée !',
            )
          },
          (error) => {
            alert('here2')
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
      submitUpdateUser () {
        switch (this.newUser.lvl) {
          case 'Standard':
            this.newUser.lvl = '1'
            break
          case 'Client':
            this.newUser.lvl = '1.5'
            this.newUser.client = true
            break
          case 'Avancé':
            this.newUser.lvl = '2'
            break
          case 'Administrateur':
            this.newUser.lvl = '99'
            break
        }
        // console.log(this.newUser)
        this.$store.dispatch('auth/updateUser', this.newUser).then(
          () => {
            this.$store.commit('newSnackBar', 'Utilisateur mis à jour !')
            this.showFormEdit = false
          },
          (error) => {
            alert('here2')
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
    },
  }
</script>

<style>
li:hover {
  color: green;
  font-size: 17px;
  transition: all 500ms;
  font-size-adjust: 20px;
  cursor: pointer;
}
</style>
