<template>
  <v-row>
    <v-col class="col-md-6 mx-auto">
      <v-card
        class="grey lighten-2"
        outlined
      >
        <v-row>
          <v-col>
            <center><h1>Formulaire d'insertion</h1></center>
          </v-col>
        </v-row>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-container>
            <v-row>
              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="client.id"
                  label="Nom usuel"
                  required
                  :rules="idRule"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="client.name"
                  label="Nom client"
                  required
                  :rules="nameRule"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="client.adresse"
                  label="Adresse"
                  required
                  :rules="adresseRule"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-btn
                  class="mr-4 success"
                  :disabled="!valid"
                  @click="submit"
                >
                  Ajouter
                </v-btn>
                <v-btn
                  class="blue"
                  @click="clear"
                >
                  Reset
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import Client from '@/models/client'
  export default {
    name: 'AddNewClient',
    components: {
    },
    data () {
      return {
        id: '',
        idRule: [
          v => !!v || 'Nom usuel du chantier manquant',
        ],
        name: '',
        nameRule: [
          v => !!v || 'Le nom du client manquant',
        ],
        adresse: '',
        adresseRule: [
          v => !!v || 'Adresse manquante',
        ],
        valid: true,
        client: new Client('', '', ''),
      }
    },
    methods: {
      clear () {
        this.client.id = ''
        this.client.name = ''
        this.client.adresse = ''
      },
      submit () {
        this.$store.dispatch('clients/addNew', this.client).then(
          () => {
            this.$store.commit('newSnackBar', 'Client ajouté dans la base de donnée !')
          },
          error => {
            alert('here2')
            this.loading = false
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
          },
        )
      },
    },
  }
</script>

<style lang="sass">
  #dashboard-core-footer
    a
      font-size: .825rem
      font-weight: 500
      text-decoration: none
      text-transform: uppercase
</style>
