    <!--  -->
    <!-- <v-row>
      <v-col>
        <h1>Ajouter des photos</h1>
      </v-col>
    </v-row>
    <v-row>f
      <v-col
        class="text-center"
      >
        <v-btn
          color="success"
          @click="$refs.newPicture.click()"
        >
          <v-icon dark>
            mdi-camera
          </v-icon>
        </v-btn>
        <input
          v-show="false"
          ref="newPicture"
          type="file"
          accept="image/*"
          capture="camera"
          multiple
          @change="previewFiles"
        >
      </v-col>
    </v-row>

    <v-row>
      <div
        v-for="(image, index) in pictures"
        :key="index"
        width="200"
      >
        <v-col
          cols="12"
          align-self="center"
          offset-lg="6"
          offset-xl="8"
        >
          <img
            :src="image[0]"
            height="100"
            width="177"
          >
          <v-btn
            :id="image[1]"
            class="mx-2"
            fab
            dark
            small
            color="primary"
            @click="deletePicture(index)"
          >
            <v-icon dark>
              mdi-delete
            </v-icon>
          </v-btn>
        </v-col>
      </div>
    </v-row>
    <v-row>
      <v-col>
        <h1>Informations supplémentaires</h1>
        <v-btn
          icon
          color="blue"
          @click="alert('yes')"
        >
          <v-icon>mdi-information</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
        md="6"
      >
        <v-textarea
          solo
          name="input-7-4"
          label="Observations"
        />
      </v-col>
      <v-col
        cols="12"
        md="6"
      />
    </v-row>
    <v-row>
      <v-col
        key="center"
        align-self="center"
        class="text-center"
      >
        <v-btn
          color="success"
          @click="$refs.newPicture.click()"
        >
          Envoyer
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <p class="error">
        {{ error }}
      </p>
      <p class="decode-result">
        Résultat du scan :
        <b>
          {{ result }}
        </b>
      </p>
      <qrcode-stream
        @decode="onDecode"
        @init="onInit"
      />
    </v-row> -->
