<template>
  <v-container
    id="dashboard"
    fluid
    tag="section"
  >
    <!-- <v-row>
      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="info"
          icon="mdi-plus-circle"
          title="Nouvelle mission"
          value=""
          sub-icon="mdi-qrcode-scan"
          sub-text="Scanner le QR-CODE"
        />
      </v-col>

      <v-col
        cols="12"
        sm="6"
        lg="3"
      >
        <base-material-stats-card
          color="success"
          icon="mdi-hospital-building"
          title="Déposer un arrêt maladie"
          value=""
          sub-icon="mdi-clock"
          sub-text="Envoyer votre arrêt pour une validation"
        />
      </v-col>
    </v-row> -->
  </v-container>
</template>

<script>

  export default {
    name: 'DashboardDashboard',
    components: {
    },
    data () {
      return {
        date: new Date().getDate() + ' ' + new Date().toLocaleString('fr-FR', { month: 'long' }) + ' ' + new Date().getFullYear(),
        showForm: null,
        rapportText: '',
      }
    },
    computed: {
      userId () {
        return this.$store.state.auth.user.user._id
      },
    },
    created () {
      const payload = { userId: this.userId }
      this.$store.dispatch('currentMission/getCurrentMission', payload)
    },
    methods: {
      complete (index) {
        this.list[index] = !this.list[index]
      },
      funcCloseSnackbar () {
        this.$store.commit('closeSnackBar')
      },
      doSomeThing () {
        alert('yes')
      },
    },
  }
</script>
