<template>
  <transition
    name="fade"
    mode="out-in"
  >
    <v-app>
      <dashboard-core-app-bar />
      <dashboard-core-drawer />
      <dashboard-core-view />
      <dashboard-core-settings />
      <!-- Snackbar on login success -->
      <div class="text-center ma-2">
        <v-snackbar
          v-model="snackbar.show"
        >
          {{ snackbar.message }}

          <template v-slot:action="{ attrs }">
            <v-btn
              color="pink"
              text
              v-bind="attrs"
              @click="snackbar.show = false"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-app>
  </transition>
</template>

<script>
  export default {
    name: 'DashboardIndex',

    components: {
      DashboardCoreAppBar: () => import('./components/core/AppBar'),
      DashboardCoreDrawer: () => import('./components/core/Drawer'),
      DashboardCoreSettings: () => import('./components/core/Settings'),
      DashboardCoreView: () => import('./components/core/View'),
    },
    data: () => ({
      expandOnHover: false,
      user: '',
      logged: '',
    }),
    computed: {
      snackbar: function () {
        return this.$store.state.snackbar
      },
    },
    created: function () {
      if (this.$store.state.auth.status.loggedIn) {
        this.user = this.$store.state.auth.user.user
        this.logged = this.$store.state.auth.status.loggedIn
      } else {
        this.logged = false
        this.$router.push('/login')
      }
      this.$store.dispatch('token/getAll')
    },
  }
</script>
