<template>
  <div>
    <transition
      name="fade"
      mode="out-in"
    >
      <router-view />
    </transition>
    <notifications group="foo">
      <template
        slot="body"
        slot-scope="props"
      >
        <div class="notification-custom">
          <div>
            <img
              src="@/assets/android-chrome-192x192.png"
              alt=""
            >
          </div>
          <div>
            <h5 class="title">
              {{ props.item.title }}
            </h5>
            <p>{{ props.item.text }}</p>
          </div>
        </div>
      </template>
    </notifications>
  </div>
</template>

<script>
  export default {
    name: 'App',
    created () {
      if (this.$workbox) {
        this.$workbox.addEventListener('waiting', () => {
          this.showUpdateUI = true
        })
      }
    },
    methods: {
      async accept () {
        this.showUpgradeUI = false
        await this.$workbox.messageSW({ type: 'SKIP_WAITING' })
      },
    },
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.notification-custom {
  background-color: rgb(34, 82, 37);
  display: flex;
  justify-content: space-evenly;
  padding: 10px 5px;
  align-items: center;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.notification-custom img {
  max-height: 200px;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.notification-custom h5 {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}
.notification-custom p {
  /* margin-bottom: 5px; */
  font-family: "Roboto", sans-serif;
}
</style>
